@import "../../../Variables.scss";

@keyframes animationModal {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

.mainGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  height: auto;
  margin: 0 auto;

  .mainGalleryTitle {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-weight: 400;
    font-size: 20px;
    font-family: $fontCustom2;
    margin-bottom: 8px;
    text-align: center;
    color: $color-3;
  }

  .wrapper {
    display: flex;
    flex-direction: row;

    .navigationGallery {
      display: flex;
      flex-direction: column;
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      height: auto;
      min-height: 550px;
      max-height: 600px;
      top: 50px;
      position: sticky;
      border: 1px solid $color-22;
      background: $color-20;
      border-radius: 8px;
      padding: 10px;

      .navigationTitle {
        font-size: 16px;
        font-family: $fontCustom2;
        font-weight: 400;
        height: 24px;
        line-height: 24px;
        width: 100%;
        margin-bottom: 8px;
        color: $color-3;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: row;

        .searchInput {
          width: 100%;
          height: 26px;
          margin: 10px auto;
          background: $color-7;
          outline: none;
          border: 1px solid $color-22;
          border-radius: 5px;
          transition: all 0.25s ease-in-out;
          color: $color-8;
          padding-left: 10px;
          padding-right: 4px;
          font-size: 14px;

          &:hover,
          &:focus,
          &:active {
            outline: none;
            background: $color-21;
          }
        }

        .addSubmit {
          border: 1px solid $color-22;
          width: 26px;
          min-width: 26px;
          height: 26px;
          border-radius: 4px;
          font-size: 14px;
          outline: none;
          background: $color-7;
          color: $color-3;
          transition: all 0.35s ease;
          cursor: pointer;
          margin: auto 0 auto 5px;
          padding: 0;

          &:hover,
          &:active,
          &:focus {
            outline: none;
            color: $color-8;
          }
        }
      }

      .previewWrapper {
        display: flex;
        flex-direction: column;

        .selectedTag {
          display: flex;
          flex-direction: row;
          margin: 2px 4px;
          border-radius: 4px;
          background: $color-22;
          padding: 0 0 0 8px;

          .tagName {
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            color: darken($color-3, 50%);
          }

          .actions {
            margin: 0 0 0 auto;
            height: 20px;
            line-height: 20px;
            width: 20px;
            border: none;
            border-radius: 0;
            background: none;
            outline: none;
            cursor: pointer;
            color: darken($color-3, 50%);
            transition: all 0.35s ease;

            &:hover {
              color: $color-8;
            }
          }
        }
      }
    }
  }

  .galleryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 15px;

    .oneContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      width: 350px;
      height: 200px;
      min-height: 200px;
      max-height: 200px !important;
      border: none;
      border-radius: 8px;
      margin: 15px;
      transition: all 0.35s ease;

      &:hover {
        scale: 1.10;
      }

      .wrapperImage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        .imgClass {
          display: flex;
          width: 100%;
          height: 100%;
          cursor: pointer;
          scale: 1.02;
        }
      }

      .containerLike {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 4px;
        right: 4px;
        height: 20px;

        .likes {
          display: flex;
          flex-direction: row;
          width: auto;
          height: 20px;
          color: $color-3;
          transition: all 0.35s ease;

          .like {
            color: $color-8;
          }

          .dislike {
            color: $color-2;
          }

          .click {
            border: none;
            border-radius: 0;
            outline: none;
            background: transparent;
            cursor: pointer;
            padding: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;

            &:hover,
            &:focus,
            &:active {
              border: none;
              border-radius: 0;
              outline: none;
              background: transparent;
            }

            svg {
              path {
                fill: currentColor !important;
              }
            }

          }

          .text {
            width: auto;
            height: 20px;
            line-height: 20px;
            font-weight: 400;
            font-size: 12px;
            color: $color-3;
            padding: 0 3px 0 1px;
          }
        }
      }
    }


  }
}

body {
  .overlayModal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 12002;
    background: $color-11;
    animation: animationModal 1s both ease !important;
  }

  .modalGallery {
    position: absolute;
    outline: none;
    z-index: 12001;
    background: $color-21;
    border: 0.5px solid $color-22;
    border-radius: 5px;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: auto;
      height: 35px;
      padding: 0 12px;
      line-height: 35px;
      text-align: center;
      outline: none;
      background: $color-7;
      border: 1px solid $color-22;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      color: $color-8;
      cursor: pointer;
      font-size: 14px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: $color-21;
      }
    }

    .galleryBackground {
      background: $color-7;
      border: 1px solid $color-22;
      border-radius: 5px;
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
      padding: 15px;

      .galleryWrapper {
        width: 100%;
        max-width: 1100px !important;
        margin: 0 auto;
        max-height: 700px;
        height: auto;
      }
    }

    .containerDescription {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 90%;
      margin: 15px auto 0 auto;
      height: auto;
      background: $color-7;
      border: 1px solid $color-22;
      border-radius: 5px;
      padding: 15px;

      .containerBuilders {
        display: flex;
        flex-direction: column;
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        height: auto;

        .ulList {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;

          .liAuthorsTitle {
            line-height: 24px;
            height: 24px;
            font-size: 14px;
            font-weight: 400;
            color: $color-3;
            font-family: $fontCustom2;
            margin-bottom: 5px;
            padding-left: 10px;
            border-width: 1px;
            border-bottom-style: solid;
            border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $color-13, rgba(0, 0, 0, 0)) 1 0;
          }

          .liUser {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            margin: 3px auto;

            .imgUser {
              height: 24px;
              margin: 0;
              padding: 0;
              border: none;
              border-radius: 3px;
              overflow: hidden;
            }

            .userName {
              line-height: 24px;
              height: 24px;
              font-size: 14px;
              font-weight: 400;
              color: $color-3;
              margin-left: 5px;
              font-family: $fontCustom2;
            }
          }
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: auto;
        height: 100%;

        .titleNameImageList {
          font-weight: 400;
          font-size: 18px;
          min-height: 32px;
          height: auto;
          text-align: center;
          line-height: 32px;
          width: 100%;
          padding-left: 25px;
          color: $color-3;
          margin: 0 auto 0 auto;
        }

        .textParagraph {
          text-indent: 15px;
          font-weight: 400;
          font-size: 14px;
          color: $color-3;
          line-height: 1.25;
        }

        .blockTag {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 8px;

          .oneTag {
            margin: 2px 4px;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            border-radius: 4px;
            color: darken($color-3, 50%);
            background: $color-22;
            padding: 0 8px;
          }
        }
      }
    }
  }
}
