@import "../../../Variables";

.all_box_image_editor {
  display: flex;
  flex-direction: column;
  width: auto;
  //height: 90vh;
  height: 96vh;
  margin: 0 auto;

  .wrapper_editor {
    //width: 100vw;
    //min-width: 80vw;
    //max-width: 80vw;
    //height: 80vh;
    width: 100vw;
    min-width: 86vw;
    max-width: 86vw;
    height: 86vh;
    position: relative;

    .preview {
      height: 200px;
      width: 200px;
      background: $site-color-13;
      border: solid 1px $site-color-5;
      position: absolute;
      left: 20px;
      top: 20px;
    }

    .box_coordinates {
      position: absolute;
      left: 20px;
      top: 228px;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .coordinates {
        font-size: 13px;
        color: $site-color-2;
        font-family: $fontCustom2;
        width: auto;
      }
    }

    .cropper_overlay {
      transition: 0.5s;
    }

    .cropper_overlay_faded {
      color: rgba($site-color-13, 0.9);
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .all_box_image_editor {
    .wrapper_editor {
      min-width: 94vw;
      max-width: 94vw;
      height: 84vh;
      max-height: 84vh;
    }
  }
}

@media screen and (max-width: 1024px) {
  .all_box_image_editor {
    .wrapper_editor {
      .preview {
        height: 160px;
        width: 160px;
        left: 16px;
        top: 16px;
      }

      .box_coordinates {
        left: 16px;
        top: 182px;
        width: 160px;

        .coordinates {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .all_box_image_editor {
    .wrapper_editor {
      .preview {
        display: none;
      }

      .box_coordinates {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
