@import "../../../Variables.scss";

.mainFaqBox {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .faqBox {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    margin: 25px auto 0 auto;
    padding: 25px;
    background: $color-11;
    border-radius: 7px;

    .faqTitleWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 35px;
      width: 100%;

      .titleH2Styles {
        color: $color-3;
        font-weight: 400;
        font-size: 24px;
        height: 35px;
        line-height: 35px;
        padding-left: 35px;
        text-align: center;
        font-family: $fontCustom2;
      }
    }

    .wrapperTabsFaq {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      height: auto;

      .tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        height: 100%;
        position: sticky;
        top: 50px;
        bottom: 0;

        .buttonFaqTab {
          cursor: pointer;
          width: 200px;
          height: 75px;
          margin: 15px;
          background: $color-21;
          border: none;
          border-radius: 5px;
          transition: all 0.5s ease-out;
          color: $color-3;
          font-weight: 400;
          font-size: 20px;

          &:hover {
            background: $color-22;
          }

          &:disabled {
            background: $color-4;
            color: $color-3;
          }
        }
      }

      .content {
        width: 100%;
        margin: 15px;
        padding: 20px;

        .idTab {
          display: flex;
          width: 100%;
          height: 100%;

          .tabOne {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 600px;
            height: auto;

            .title {
              color: $color-3;
              width: 100%;
              height: 35px;
              line-height: 35px;
              font-weight: 400;
              font-size: 24px;
            }

            .info {
              color: $color-3;
              width: 100%;
              height: 35px;
              line-height: 35px;
              font-weight: 400;
              font-size: 16px;
            }

            .lists {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              margin-top: 20px;
              padding-right: 15px;

              .listOne {
                display: flex;
                width: 100%;
                height: auto;
                flex-direction: column;
                margin-bottom: 5px;

                .oneInputCheckBox {
                  position: absolute;
                  left: -10000px;
                  opacity: 0;
                  z-index: -1;
                }

                .question {
                  display: flex;
                  justify-content: space-between;
                  padding: 16px;
                  line-height: 1.35;
                  background: $color-20;
                  border: 1px solid $color-2;
                  border-radius: 6px;
                  color: $color-3;
                  font-weight: 400;
                  font-size: 16px;
                  cursor: pointer;
                  transition: all 0.25s ease;
                  position: relative;
                  align-items: center;

                  &:hover {
                    background: $color-7;
                  }

                  &::after {
                    content: "\276F";
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    transition: all 0.35s;
                  }
                }

                .answerWrapperBox {
                  font-weight: 400;
                  width: 100%;
                  max-height: 0;
                  line-height: 1.5;
                  color: $color-3;
                  font-size: 15px;
                  background: $color-7;
                  transition: all 0.25s ease;
                  opacity: 0;

                  .link {
                    color: $color-1;
                    transition: all 0.35s ease;
                    text-decoration: none;

                    &:active,
                    &:visited,
                    &:focus {
                      color: inherit;
                    }

                    &:hover {
                      color: $color-12;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .oneInputCheckBox:checked ~ .answerWrapperBox {
    opacity: 1 !important;
    max-height: 100vh !important;
    margin-bottom: 10px;
    padding: 16px;
    border-right: 1px solid $color-2;
    border-left: 1px solid $color-2;
    border-bottom: 1px solid $color-2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .oneInputCheckBox:checked ~ .question {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: $color-21 !important;
    color: $color-8 !important;

    &::after {
      transform: rotate(90deg);
      color: $color-8;
    }
  }
}

@media screen and (max-width: 1600px) {
  .mainFaqBox {
    .faqBox {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .mainFaqBox {
    .faqBox {
      width: 96%;
      padding: 15px;

      .faqTitleWrapper {
        margin-top: 15px;
      }

      .wrapperTabsFaq {
        padding: 10px;

        .tabs {
          .buttonFaqTab {
            width: 180px;
          }
        }

        .content {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .mainFaqBox {
    .faqBox {
      .wrapperTabsFaq {
        padding: 10px;

        .tabs {

          .buttonFaqTab {
            width: 170px;
            margin: 10px;
            height: 65px;
            font-size: 18px;
          }
        }

        .content {
          margin: 0;
          margin-left: 5px;

          .idTab {
            .tabOne {
              .lists {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .mainFaqBox {
    .faqBox {
      .faqTitleWrapper {
        margin-bottom: 10px;
      }

      .wrapperTabsFaq {
        padding: 7px;

        .tabs {

          .buttonFaqTab {
            width: 150px;
            margin: 7px;
            height: 50px;
            font-size: 16px;
          }
        }

        .content {
          .idTab {
            .tabOne {
              .lists {
                .listOne {
                  .question {
                    padding: 12px;
                  }

                  .answerWrapperBox {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .oneInputCheckBox:checked ~ .answerWrapperBox {
      padding: 12px;
    }
  }
}

@media screen and (max-width: 640px) {
  .mainFaqBox {
    .faqBox {
      padding: 7px;

      .faqTitleWrapper {
        .titleH2Styles {
          font-size: 20px;
          padding-left: 15px;
        }
      }

      .wrapperTabsFaq {
        flex-direction: column;
        padding: 0;

        .tabs {
          margin-top: 15px;
          margin-bottom: 10px;
          top: 0;
          position: relative;

          .buttonFaqTab {
            margin: 6px auto;
            font-size: 15px;
            height: 45px;
            width: 250px;
          }
        }

        .content {
          margin: 0;

          .idTab {
            .tabOne {
              .lists {
                .listOne {
                  .question {
                    padding: 10px;
                  }

                  .answerWrapperBox {
                    font-size: 14px;
                    line-height: 1.1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .oneInputCheckBox:checked ~ .answerWrapperBox {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .mainFaqBox {
    .faqBox {
      .faqTitleWrapper {
        height: 30px;

        .titleH2Styles {
          font-size: 16px;
          padding-left: 7px;
          height: 30px;
          line-height: 30px;
        }
      }

      .wrapperTabsFaq {
        .tabs {
          margin-top: 10px;
        }

        .content {
          padding: 7px;

          .idTab {
            .tabOne {
              .title {
                height: 30px;
                line-height: 30px;
                font-size: 22px;
              }

              .info {
                height: auto;
                line-height: 1.1;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .mainFaqBox {
    .faqBox {
      .wrapperTabsFaq {
        .content {
          .idTab {
            .tabOne {
              .title {
                height: 30px;
                line-height: 30px;
                font-size: 20px;
              }

              .info {
                height: auto;
                line-height: 1.1;
                font-size: 13px;
              }

              .lists {
                .listOne {
                  .question {
                    font-size: 14px;
                  }

                  .answerWrapperBox {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}