@import "../../../../Variables";

.one_suggestions_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  height: auto;
  padding: 3px;
  transition: all 0.35s ease;
  border-radius: 4px;
  background: $site-color-12;

  &:hover {
    background: $site-color-1;
  }

  .double_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 138px;
    max-width: 138px;
    min-width: 138px;
  }

  .arrow_suggestions {
    color: $site-color-5;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    height: 68px;
    line-height: 68px;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
  .one_suggestions_block {
    min-width: 360px;
    max-width: 360px;
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
