@import "../../../../Variables";

.one-suggestions-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  transition: all 0.35s ease;
  background: $color-7;
  border-radius: 5px;
  border: 1px solid $color-22;

  &:hover {
    background: $color-21;
  }

  .arrow-suggestions {
    color: $color-13;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    height: 69px;
    line-height: 69px;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
  }
}