@import "../../../../Variables.scss";

.buildHyperloopBox {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 5%;
  color: $color-3;
  background: $color-7;
  border: 1px solid $color-2;
  padding: 16px;
  border-radius: 8px;

  .mainTitle {
    font-size: 24px;
    font-family: $fontCustom2;
    font-weight: 400;
    text-align: center;
    height: 34px;
    line-height: 34px;
  }

  .miniTitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 8px 0;
  }

  .textAll {
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    margin: 4px 0;
  }

  .image {
    display: flex;
    max-height: 650px;
    width: auto;
    margin: 18px auto;
    border-radius: 16px;
    border: 1px solid $color-2;
  }

  .listUl {
    display: flex;
    flex-direction: column;
    list-style: inside;
    padding-left: 18px;

    .stringList {
      font-size: 14px;
      font-weight: 400;
      height: 24px;
      line-height: 24px;
    }
  }

  .link {
    color: $color-1;
    transition: all 0.20s ease;
    text-decoration: none;

    &:active,
    &:visited,
    &:focus {
      color: inherit;
    }

    &:hover {
      color: $color-12;
    }
  }
}