@import "../../../Variables.scss";

.error{
  color: red;
}
.auth-block {
  display: flex;
  justify-content: space-around;
  width: auto;
  max-width: 1600px;
  height: auto;
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  .container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    .reg-1 {
      width: auto;
      padding: 45px 15px 0 15px;
      .title-reg-1 {
        text-align: center;
        width: auto;
        height: 50px;
        line-height: 50px;
        color: $color-3;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .line {
        position: relative;
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        border-width: 2px;
        border-bottom-style: solid;
        border-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            $color-3,
            rgba(0, 0, 0, 0)
          )
          1 0%;
        .icon-span {
          width: 50px;
          height: 50px;
          padding: 8px;
        }
        .input-custom {
          min-width: 500px;
          max-width: 500px;
          min-height: 50px;
          max-height: 150px;
          height: auto;
          outline: none;
          border: none;
          padding: 15px;
          background: transparent;
          font-size: 16px;
          font-weight: 500;
          color: $color-8;
          transition: all 0.5 ease;
          :active,
          :hover {
            outline: none;
            border: none;
          }
          option {
            color: $color-1;
            background-color: $color-2;
            padding: 15px;
          }
        }
        .war-span {
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 28px;
          text-align: center;
          font-weight: 500;
          color: $color-3;
          cursor: help;
        }
      }
      .no {
        border-width: 2px;
        border-bottom-style: solid;
        border-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            $color-9,
            rgba(0, 0, 0, 0)
          )
          1 0%;
      }
      .yes {
        border-width: 2px;
        border-bottom-style: solid;
        border-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            $color-8,
            rgba(0, 0, 0, 0)
          )
          1 0%;
      }
      .warn-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: 24px;
        span {
          padding-right: 7px;
        }
        .war-h4-auth {
          height: 24px;
          line-height: 24px;
          color: $color-3;
        }
      }
    }
    .reg-2 {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      .check-block {
        z-index: 500;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        input[type="checkbox"] {
          display: none;
        }
        input[type="checkbox"] + label {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 20px;
          color: $color-3;
          cursor: pointer;
        }
        input[type="checkbox"] + label:last-child {
          margin-bottom: 0;
        }
        input[type="checkbox"] + label:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid $color-3;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0.6;
          transition: all 0.12s, border-color 0.08s;
        }
        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-radius: 0;
          opacity: 1;
          border-top-color: transparent;
          border-left-color: transparent;
          transform: rotate(45deg);
        }
      }
    }
  }

  .card-visual {
    margin: 50px;
    margin-top: 7%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .card-vis-block {
      min-width: 550px;
      max-width: 550px;
      min-height: 350px;
      max-height: 650px;
      padding: 15px;
      border-radius: 15px;
      background: $color-10;
      position: relative;
      .reset {
        position: absolute;
        width: 50px;
        height: 30px;
        padding: auto;
        line-height: 30px;
        right: 10px;
        top: 10px;
        font-size: 14px;
        font-weight: 700;
        outline: none;
        background: transparent;
        color: $color-3;
        border: none;
        cursor: pointer;
      }
      .block-l-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        height: auto;
        .player-img {
          width: 130px;
          height: 130px;
          border: none;
          border-radius: 10px;
          margin: 5px;
          padding: 5px;
        }
        .player-info-card-block {
          width: 100%;
          height: auto;
          min-height: 130px;
        }
      }
      .block-l-2 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
      }
      .player-inf {
        color: $color-3;
        padding: 5px;
        margin: 5px;
        font-size: 16px;
        font-weight: 500;
        width: auto;
        height: auto;
        label{
          color: $color-1;
        }
      }
    }
  }
}
