@import "../../../Variables.scss";

@keyframes opacityBlock {
  0% {
    width: 0px;
    margin: 0;
  }
  50% {
    opacity: 0;
    margin: 25px;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 550px;
    margin: 50px;
    margin-top: 7%;
  }
}

@keyframes opacityButton {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    height: 75px;
    width: 250px;
  }
}

@keyframes shine-1 {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 300%;
  }
}

.auth-block {
  display: flex;
  justify-content: space-around;
  width: auto;
  max-width: 1600px;
  height: auto;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2000;

  .error {
    bottom: 25px;
    width: auto;
    max-width: 275px;
    min-width: 225px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    color: $color-9;
    transition: all 0.85;
  }

  .container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);

    .reg-1 {
      width: auto;
      padding: 45px 15px 0 15px;

      .title-reg-1 {
        text-align: center;
        width: auto;
        height: 50px;
        line-height: 50px;
        color: $color-3;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 15px;
      }

      form {
        display: flex;
        flex-direction: column;

        .line {
          position: relative;
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          height: auto;
          flex-direction: row;
          justify-content: flex-start;
          border-width: 2px;
          border-bottom-style: solid;
          border-image: linear-gradient(
                          to right,
                          rgba(0, 0, 0, 0),
                          $color-3,
                          rgba(0, 0, 0, 0)
          ) 1 0%;

          .icon-span {
            width: 50px;
            height: 50px;
            padding: 8px;
          }

          .input-custom {
            min-width: 500px;
            max-width: 500px;
            min-height: 50px;
            max-height: 150px;
            height: auto;
            outline: none;
            border: none;
            padding: 15px;
            background: transparent;
            font-size: 16px;
            font-weight: 400;
            color: $color-8;
            transition: all 0.5 ease;

            :active,
            :hover {
              outline: none;
              border: none;
            }

            option {
              color: $color-12;
              background-color: $color-2;
              padding: 15px;
            }
          }
        }
      }
    }

    .reg-2 {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 15px;

      .check-block {
        z-index: 500;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 20px;
          color: $color-3;
          cursor: pointer;
        }

        input[type="checkbox"] + label:last-child {
          margin-bottom: 0;
        }

        input[type="checkbox"] + label:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid $color-3;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0.6;
          transition: all 0.12s, border-color 0.08s;
        }

        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-radius: 0;
          opacity: 1;
          border-top-color: transparent;
          border-left-color: transparent;
          transform: rotate(45deg);
        }
      }
    }
  }

  .card-visual {
    width: 0px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;

    .card-vis-block {
      display: flex;
      flex-direction: column;
      min-width: 550px;
      max-width: 550px;
      min-height: 350px;
      max-height: 650px;
      padding: 15px;
      border-radius: 15px;
      background: $color-10;
      position: relative;

      .block-l-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        height: auto;

        .player-img {
          width: 130px;
          height: 130px;
          border: none;
          border-radius: 10px;
          margin: 5px;
          padding: 5px;
        }

        .player-info-card-block {
          width: 100%;
          height: auto;
          min-height: 130px;
        }
      }

      .block-l-2 {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;

        .hidden {
          opacity: 0;
        }
      }

      .player-inf {
        color: $color-3;
        padding: 5px;
        margin: 5px;
        font-size: 16px;
        font-weight: 400;
        width: auto;
        height: auto;

        label {
          color: $color-12;
        }
      }
    }

    .margin-block {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;

      .style-button-auth {
        width: 300px;
        height: 75px;
        line-height: 75px;
        font-size: 30px;
        background-color: $color-4;
        border-radius: 22px;
        border: none;
        margin: 0 auto;
        margin-top: 50px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        opacity: 0;
      }

      .style-button-auth:before {
        content: " ";
        display: block;
        width: 200px;
        height: 40px;
        background: $color-6;
        position: absolute;
        top: -10px;
        left: -200px;
        transform: rotate(-45deg);
        transition: all 0.85s ease-in-out;
        animation: shine-1 3s infinite ease;
      }

      .style-button-auth:after {
        content: " ";
        display: block;
        width: 200px;
        height: 30px;
        background: $color-6;
        position: absolute;
        top: -10px;
        left: -120px;
        transform: rotate(-45deg);
        transition: all 0.85s ease-in-out;
        animation: shine-1 3s infinite ease;
      }
    }
  }

  .card-visual-show {
    animation: opacityBlock 0.85s both ease;
  }

  .card-button-show {
    animation: opacityButton 0.85s both ease;
  }
}

