@import "../../../Variables.scss";

body {
  .main_modal {
    position: absolute;
    z-index: 12001;
    border: 1px solid $site-color-5;
    border-radius: 8px;
    background: $site-color-4;
    top: 16%;
    left: 16%;
    right: 16%;
    bottom: 16%;
    width: auto;
    height: auto;
    overflow-x: hidden;
    outline: none !important;
  }

  .modal_overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 12002;
    background: $site-color-0;
  }
}

.modal_wrapper_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    border: 1px solid $site-color-5;
    border-radius: 4px;
    background: $site-color-12;
    cursor: pointer;
    color: $site-color-2;
    transition: all 0.35s ease;
    font-size: 24px;

    &:hover {
      color: $site-color-9;
    }
  }

  .view_card_full {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .image_box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      height: auto;

      .separator_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 280px;

        .arrow {
          font-size: 64px;
          color: $site-color-5;
        }
      }

      .image {
        max-width: 280px;
        min-width: 280px;
        width: 280px;
        max-height: 280px;
        min-height: 280px;
        height: 280px;
      }
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .separator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: auto;
        margin: 8px 0 0 0;

        .bullet {
          font-size: 24px;
          font-weight: 400;
          font-family: $fontCustom2;
          text-align: center;
          line-height: 24px;
          height: 24px;
          color: $site-color-5;
          margin: 0 24px;
        }
      }

      .label {
        font-size: 16px;
        font-weight: 400;
        font-family: $fontCustom2;
        text-align: center;
        line-height: 1.35;
        color: $site-color-2;
        padding: 0 16px;
        max-width: 80%;
      }

      .name {
        font-size: 14px;
        font-weight: 400;
        font-family: $fontCustom2;
        text-align: center;
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        height: 28px;
        line-height: 28px;
        color: $site-color-2;
        margin: 4px auto;
        background: $site-color-12;
        border: 1px solid $site-color-5;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
          color: $site-color-9;
        }
      }

      .copy {
        color: $site-color-9;
      }
    }
  }
}

.mainTexturePackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 32px 16px 32px;

  .blockText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1580px;

    .texturePackTitleH3 {
      font-size: 24px;
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-weight: 400;
      color: $color-3;
      margin: 15px auto 22px auto;
      font-family: $fontCustom2;
    }

    .texturePackInformation {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1200px;
      margin: 15px auto;

      .informationH4 {
        width: 100%;
        height: auto;
        line-height: 1.25;
        font-size: 16px;
        font-weight: 400;
        color: $color-3;
        text-align: center;
        margin-bottom: 8px;
        padding: 0 20px;

        .linkModsPage {
          font-weight: 400;
          width: auto;
          color: $color-1;
          outline: none;
          transition: all 0.55s ease;
          text-decoration: none;

          &:active,
          &:visited,
          &:hover {
            outline: none;
          }

          &:hover {
            color: $color-12;
          }
        }

        span {
          font-style: italic;
        }
      }
    }

    .downloadWrapper {
      display: flex;
      width: 100%;
      max-width: 270px;
      margin: 8px auto;

      .downloadFiles {
        font-weight: 400;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        color: $color-1;
        margin: auto 25px;
        outline: none;
        transition: all 0.55s ease;
        text-decoration: none;
        background: $color-7;
        border: 0.5px solid $color-22;
        border-radius: 5px;
        text-align: center;

        &:active,
        &:visited,
        &:hover {
          outline: none;
        }

        &:hover {
          color: $color-12;
          background: $color-21;
        }

      }
    }

    .warnWrapper {
      width: 100%;
      max-width: 1400px;
      margin: 15px auto 15px auto;
    }
  }

  .wrapperPack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1580px;
    height: auto;
    min-height: 480px;

    .fixedLeftMenuWrapper {
      width: 260px;
      min-width: 260px;
      max-width: 260px;
      height: 100%;
      min-height: 480px;
      max-height: 480px;
      display: flex;
      background: $site-color-4;
      border: 1px solid $site-color-5;
      border-radius: 4px;
      margin-right: 8px;
      position: sticky;
      top: 72px;

      .category {
        color: $site-color-2;
        font-family: $fontCustom2;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-bottom: 8px;
      }

      .wrapper_swipe {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin: 8px;

        .swipe {
          color: $site-color-2;
          font-family: $fontCustom2;
          font-weight: 400;
          font-size: 13px;
          padding: 8px 8px 4px 8px;
          width: 100%;
          height: auto;
          margin-bottom: 4px;
          background: transparent;
          border-radius: 4px;
          transition: all 0.35s ease;
          cursor: pointer;

          &:hover {
            color: $site-color-9;
            background: $site-color-12;
          }
        }

        .active {
          color: $site-color-9;
        }
      }
    }

    .previewPack {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      background: $site-color-4;
      border: 1px solid $site-color-5;
      border-radius: 4px;
      padding: 4px;

      .wrapperActions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        height: auto;
        margin: 4px 0 4px 4px;

        .search {
          display: flex;
          width: 100%;
          height: 28px;
          outline: none;
          background: $site-color-12;
          border: 1px solid $site-color-5;
          border-radius: 4px;
          transition: all 0.35s ease;
          color: $color-8;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 12px;
          font-family: $fontCustom2;
          margin-right: 4px;

          &:hover,
          &:focus,
          &:active {
            outline: none;
            background: $site-color-1;
          }
        }

        .type {
          background: $site-color-12;
          border: 1px solid $site-color-5;
          border-radius: 4px;
          margin: 0 4px;
          color: $color-3;
          padding: 4px;
          cursor: pointer;
          transition: all 0.3s ease;

          svg {
            path {
              transition: all 0.3s ease;
            }
          }

          &:hover {
            outline: none;
            background: $site-color-1;
            color: $site-color-9;

            svg {
              path {
                fill: $site-color-9;
              }
            }
          }
        }

        .active_btn {
          svg {
            path {
              fill: $site-color-8;
            }
          }
        }
      }

      .card_all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2px 2px 2px 2px;

        .one_card_1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          background: $site-color-12;
          border: 1px solid $site-color-5;
          border-radius: 4px;
          width: 168px;
          height: 168px;
          position: relative;
          margin: 2px;
          cursor: pointer;
          transition: all 0.35s ease;

          &:hover {
            background: $site-color-1;
          }

          .imageWrapper {
            .image {
              width: 140px;
              height: 140px;
            }
          }

          .textWrapper {
            position: absolute;
            bottom: 5px;

            .name {
              font-weight: 400;
              font-size: 13px;
              font-family: $fontCustom2;
              color: $site-color-2;
              text-align: center;
            }
          }
        }

        .one_card_2 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          background: $site-color-12;
          border: 1px solid $site-color-5;
          border-radius: 4px;
          width: 640px;
          height: 168px;
          margin: 2px;
          cursor: pointer;
          transition: all 0.35s ease;
          overflow: hidden;

          .image_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: auto;
            height: 100%;

            .separator_box {
              height: 100%;
              width: auto;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .arrow {
                font-size: 48px;
                color: $site-color-5;
              }
            }

            .image {
              height: 100%;
              width: auto;
            }
          }

          .text_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: auto;
            margin: 8px;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 4px;
            }

            .name {
              width: 100%;
              font-size: 12px;
              font-family: $fontCustom2;
              font-weight: 400;
              color: $site-color-2;
              transition: all 0.35s ease;
              height: 24px;
              line-height: 24px;
              background: transparent;
              border-radius: 4px;
              padding: 0 8px;

              &:hover {
                background: $site-color-1;
                color: $site-color-9;
              }
            }

            .copy {
              color: $site-color-9;
            }
          }
        }
      }
    }
  }
}