@import "../../../Variables.scss";

.main-texture-pack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  color: #f4f4f4 !important;

  .block-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .texture-pack-title-h3 {
      font-size: 24px;
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-weight: 400;
      color: $color-3;
      margin: 15px auto 22px auto;
    }

    .texture-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1200px;
      margin: 15px auto;

      .info-h4 {
        width: 100%;
        height: auto;
        line-height: 1.25;
        font-size: 16px;
        font-weight: 400;
        color: $color-3;
        text-align: center;
        margin-bottom: 8px;
        padding: 0 20px;

        .mods-link-page {
          font-weight: 400;
          width: auto;
          color: $color-1;
          outline: none;
          transition: all 0.55s ease;
          text-decoration: none;

          &:active,
          &:visited,
          &:hover {
            outline: none;
          }

          &:hover {
            color: $color-12;
          }
        }

        span {
          font-style: italic;
        }
      }
    }

    .download-box {
      display: flex;
      width: 100%;
      max-width: 270px;
      margin: 15px auto;

      .download-files {
        font-weight: 400;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        color: $color-1;
        margin: auto 25px;
        outline: none;
        transition: all 0.55s ease;
        text-decoration: none;
        background: $color-7;
        border: 0.5px solid $color-22;
        border-radius: 5px;
        text-align: center;

        &:active,
        &:visited,
        &:hover {
          outline: none;
        }

        &:hover {
          color: $color-12;
          background: $color-21;
        }

      }
    }

    .box-warn {
      width: 100%;
      max-width: 1400px;
      margin: 15px auto 30px auto;
    }
  }

  .search-input-texture-pack {
    display: flex;
    width: 100%;
    max-width: 1550px;
    height: 45px;
    margin: 15px auto;
    line-height: 45px;
    outline: none;
    background: $color-7;
    border: 0.5px solid $color-22;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    color: $color-8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $color-21;
    }
  }

  .card-item {
    display: flex;
    width: 500px;
    height: 200px;
    background: $color-7;
    border: 0.5px solid $color-22;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.35s ease;

    &:hover {
      background: $color-21;
    }

    .colum-card-item1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      width: 100%;
      max-width: 200px;
      height: 100%;
      position: relative;

      .item-img {
        height: 100%;
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        padding: 10px;
        transition: all 0.25s ease-in-out;
      }
    }

    .colum-card-item2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .item-title-name {
        color: $color-3;
        font-size: 16px;
        font-weight: 400;
        height: 28px;
        line-height: 28px;
        margin-top: 5px;
        text-align: center;
        border-width: 1px;
        border-bottom-style: solid;
        border-image: linear-gradient(to right, $color-3, $color-3, rgba(0, 0, 0, 0)) 1 0%;
        position: relative;

        .hover-effect {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0 auto;
          height: auto;
          background: $color-7;
          border: 0.5px solid $color-22;
          border-radius: 5px;
          color: $color-8;
          font-weight: 400;
          padding: 0 10px;
          right: 0;
          opacity: 0;
          top: 32px;
          transition: all 0.35s ease;
        }

        &:hover > .hover-effect {
          opacity: 1;
          right: 15px;
        }
      }

      .list-name {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        overflow: auto;
        height: auto;
        margin: 7px 15px 5px 0;

        &::-webkit-scrollbar {
          width: 4px !important;
        }

        .list-name-one {
          line-height: 24px;
          height: 24px;
          font-weight: 400;
          font-size: 12px;

          &:before {
            content: "\27E1";
            margin-right: 5px;
            color: $color-8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .main-texture-pack {
    .search-input-texture-pack {
      width: 95%;
      max-width: none;
    }
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .main-texture-pack {
    .block-title {
      .box-warn {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-texture-pack {
    .block-title {
      .box-warn {
        margin: 15px auto;
      }
    }

    .card-item {
      width: 450px;
      height: 180px;

      .colum-card-item1 {
        max-width: 180px;

        .item-img {
          max-width: 180px;
          max-height: 180px;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .main-texture-pack {
    .block-title {
      .texture-pack-title-h3 {
        font-size: 22px;
      }

      .texture-info {
        margin: 0;
        width: 100%;
        max-width: none;

        .info-h4 {
          font-size: 14px;
        }
      }

      .download-box {
        max-width: none;
        margin: 0;

        .download-files {
          max-width: 300px;
          margin: 0 auto;
        }
      }

      .box-warn {
        width: 96%;
        margin: 7px auto;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main-texture-pack {
    .block-title {
      .texture-pack-title-h3 {
        margin: 10px auto;
        font-size: 16px;
      }
    }

    .card-item {
      width: 94%;
      margin: 5px auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-texture-pack {
    .block-title {
      .texture-pack-title-h3 {
        margin: 5px auto;
        font-size: 14px;
      }

      .texture-info {
        .info-h4 {
          padding: 10px;
          font-size: 13px;

          .mods-link-page {
            width: 100%;
            margin: 0 auto;
          }
        }
      }

      .download-box {
        margin: 8px auto;
      }
    }

    .search-input-texture-pack {
      width: 98%;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
    }

    .card-item {
      width: 98%;
      height: 140px;

      .colum-card-item1 {
        max-width: 140px;

        .item-img {
          max-width: 140px;
          max-height: 140px;
        }
      }

      .colum-card-item2 {
        .item-title-name {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main-texture-pack {
    .card-item {
      width: 98%;
      height: 125px;

      .colum-card-item1 {
        max-width: 125px;

        .item-img {
          max-width: 125px;
          max-height: 125px;
        }
      }
    }
  }
}
