@import "../../../Variables.scss";

.stat {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;

  .inf {
    display: none;
    margin: 25% auto 0 auto;
    font-family: $fontCustom2;
    font-weight: 400;
    font-size: 20px;
    padding: 0 48px;
    text-align: center;
    color: $site-color-2;
    line-height: 1.5;
  }

  .box_nav {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: auto;

    .box_btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;
      position: sticky;
      top: 70px;
      margin: 0 0 0 32px;
      width: 225px;
      z-index: 2;

      .btn {
        border: 1px solid $site-color-5;
        border-radius: 4px;
        margin: 2px 8px;
        background: $site-color-4;
        color: $site-color-2;
        transition: all 0.35s ease;
        font-size: 12px;
        font-weight: 400;
        font-family: $fontCustom2;
        padding: 4px 8px;
        cursor: pointer;

        &:hover {
          color: $site-color-9;
        }
      }
    }

    .nav {
      width: 225px;
      background: $site-color-4;
      border: 1px solid $site-color-5;
      box-shadow: 0 0 25px 40px $site-color-12;
      border-radius: 4px;
      padding: 4px;
      margin: 0 0 0 32px;
      position: sticky;
      top: 100px;

      .line {
        color: $site-color-2;
        font-size: 12px;
        font-family: $fontCustom2;
        font-weight: 400;
        transition: all 0.35s ease;
        padding: 2px 4px;
        margin: 8px 2px;

        &:hover {
          cursor: pointer;
          color: $site-color-9;
        }
      }
    }
  }

  .stat_box {
    width: 100%;
    max-width: 1410px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 48px auto;
    position: relative;

    .title {
      font-size: 18px;
      font-weight: 400;
      color: $color-3;
      margin: 25px auto;
      font-family: $fontCustom2;
    }

    .box_wight_1 {
      min-width: 810px;
      margin: 0 auto;
    }

    .box_wight_2 {
      //min-width: 100%;
      width: 95%;
      margin: 0 auto;
    }

    .box_wight_3 {
      //min-width: 1210px;
      width: 85.25%;
      margin: 0 auto;
    }

    .box_wight_4 {
      //min-width: 100%;
      width: 95%;
      margin: 0 auto;
    }

    .box_wight_5 {
      min-width: 402px;
      margin: 0 auto;
    }

    .box_wight_6 {
      min-width: 802px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .stat {
    .box_nav {
      display: none;
    }

    .stat_box {
      display: none;
    }

    .inf {
      display: flex;
    }
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
