@import "../../../Variables.scss";

.main-dashboard {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .search-players {
    display: flex;
    width: 90%;
    height: 40px;
    margin: 5px auto;
    line-height: 40px;
    outline: none;
    background: $color-7;
    border: 0.5px solid $color-22;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    color: $color-8;
    padding-left: 10px;
    padding-right: 10px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $color-21;
    }
  }

  .button-search-players {
    width: 100%;
    max-width: 250px;
    height: 30px;
    margin: 8px auto;
    line-height: 30px;
    text-align: center;
    outline: none;
    background: $color-7;
    border: 0.5px solid $color-22;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
    color: $color-8;
    cursor: pointer;
    font-size: 14px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $color-21;
    }
  }

  .table-cl {
    width: 100%;
    max-width: 85%;
    border: 1px solid $color-22;
    background: $color-7;
    margin: 5px auto;

    .thead-cl {
      height: 34px;
      line-height: 34px;
    }

    .tbody-cl {
      .tr-cl {
        height: 34px;
        line-height: 34px;
        border-top: 1px solid $color-22;
        transition: all 0.20s ease;

        &:nth-child(even) {
          background-color: lighten($color-7, 1);
        }

        &:nth-child(odd) {
          background-color: lighten($color-7, 2);
        }
      }
    }

    .th-cl {
      color: $color-3;
      font-weight: 400;
      font-size: 16px;
      border-left: 1px solid $color-22;
      transition: all 0.15s ease;

      &:hover {
        color: $color-8;
        border: 1px solid $color-8;
      }

      &:nth-child(1) {
        border: none;
        width: 250px;
      }

      &:nth-child(2) {
        width: 250px;
      }

      &:nth-child(3) {
        width: 100px;
      }

      &:nth-child(4) {
        width: 150px;
      }

      &:nth-child(5) {
        width: 250px;
      }
    }

  }
}
