@import "../../../Variables.scss";

@keyframes type {
  from {
    box-shadow: inset -3px 0 0 $color-3;
  }
  to {
    box-shadow: inset -3px 0 0 transparent;
  }
}

.main-not-found-404 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .all-404 {
    display: flex;
    width: 100%;
    height: 100vh;

    .fof {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      .h1-404 {
        font-size: 72px;
        display: flex;
        margin: 0 auto;
        padding-right: 14px;
        font-weight: 400;
        color: $color-3;
        animation: type 0.5s alternate infinite;
      }

      .inf-404 {
        width: 100%;
        height: auto;
        line-height: 1.1;
        font-size: 24px;
        font-weight: 400;
        color: $color-3;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 55px;
      }

      .back-404 {
        width: 350px;
        height: auto;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        outline: none;
        color: $color-3;
        transition: all 0.35s ease;

        &:active,
        &:hover,
        &:visited {
          color: $color-3;
          outline: none;
        }

        &:hover {
          color: $color-8;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .main-not-404 {
    .all-404 {
      .fof {
        .h1-404 {
          font-size: 64px;
        }

        .inf-404 {
          font-size: 20px;
          padding: 0 10px;
          margin-bottom: 30px;
        }

        .back-404 {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main-not-404 {
    .all-404 {
      .fof {
        .h1-404 {
          font-size: 54px;
        }

        .inf-404 {
          font-size: 16px;
        }

        .back-404 {
          font-size: 13px;
        }
      }
    }
  }
}
