@import "src/Variables";

.inventory {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  height: auto;
  border-radius: 5px;
  transition: all 0.25s ease;
  padding: 3px;

  &:hover {
    background: $site-color-1;
  }
}