@import "../../../../Variables.scss";

@keyframes animation-item {
  0% {
    background: url("../../../../bases/еnchanted-item/Netherite_Pickaxe.gif");
    background-size: cover;
  }
  25% {
    background: url("../../../../bases/еnchanted-item/Netherite_Axe.gif");
    background-size: cover;
  }
  50% {
    background: url("../../../../bases/еnchanted-item/Netherite_Shovel.gif");
    background-size: cover;
  }
  75% {
    background: url("../../../../bases/еnchanted-item/Netherite_Hoe.gif");
    background-size: cover;
  }
  100% {
    background: url("../../../../bases/еnchanted-item/Netherite_Pickaxe.gif");
    background-size: cover;
  }
}

.animation-bg-item {
  animation: 10s infinite animation-item;
}
