@import "../../../../Variables";

.boxSearchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;

  .searchInput {
    display: flex;
    width: 225px;
    height: 36px;
    outline: none;
    background: $site-color-12;
    border: 1px solid $site-color-5;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    color: $site-color-8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: $fontCustom2;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $site-color-1;
    }
  }

  .numberListCount {
    display: flex;
    width: auto;
    height: 36px;
    line-height: 36px;
    margin: 0 auto 0 16px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: $site-color-2;
    font-family: $fontCustom2;
  }

  .box {
    display: flex;
    flex-direction: row;

    .gallery_btn {
      margin: 0 8px 0 0;
    }

    .margin_btn {
      margin: 0 10px 0 8px;
    }

    .link {
      width: auto;
      height: auto;
    }
  }

  .button_mini_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0;
    border: 1px solid $site-color-5;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.35s ease;
    background: $site-color-12;
    cursor: pointer;

    &:hover {
      background: $site-color-1;

      > .button_mini_box {
        padding: 1px;
      }
    }

    .button_mini_box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 26px;
      height: 26px;
      margin: 0 auto;
      padding: 3px;
      transition: all 0.35s ease;

      svg {
        path {
          transition: all 0.35s ease;
          fill: $site-color-8;
        }
      }

      &:hover {
        svg {
          path {
            fill: $site_color-9;
          }
        }
      }
    }

    .disabled {
      svg {
        path {
          fill: $site-color-5;
        }
      }

      &:hover {
        svg {
          path {
            fill: $site_color-5;
          }
        }
      }
    }
  }

  .cursor {
    cursor: default;

    &:hover {
      background: $site-color-12;

      > .button_mini_box {
        padding: 3px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .boxSearchWrapper {
    .numberListCount {
      margin: 0 0 0 8px;
    }

    .box {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .boxSearchWrapper {
    .box {
      .margin_btn {
        margin: 0 0 0 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .boxSearchWrapper {
    .searchInput {
      height: 30px;
      width: 200px;
    }

    .numberListCount {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }

    .button_mini_wrapper {
      padding: 2px;

      .button_mini_box {
        height: 24px;
        min-width: 24px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .boxSearchWrapper {
    height: auto;
    flex-direction: column;

    .searchInput {
      width: 100%;
      margin: 0 auto 8px auto;
    }

    .numberListCount {
      margin: 0;
      justify-content: center;
      width: 100%;
      font-size: 13px;
    }

    .button_mini_wrapper {
      width: 30px;
    }

    .box {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
