@import "../../../../Variables";

.boxSearchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;

  .numberListCount {
    display: flex;
    width: 350px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 0 16px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: $site-color-2;
    font-family: $fontCustom2;
  }

  .margin_btn {
    margin: 0 10px 0 auto;
  }

  .searchInput {
    display: flex;
    width: 225px;
    height: 36px;
    outline: none;
    background: $site-color-12;
    border: 1px solid $site-color-5;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    color: $site-color-8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: $fontCustom2;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $site-color-1;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .boxSearchWrapper {
    .margin_btn {
      margin: 0 0 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .boxSearchWrapper {
    .numberListCount {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }

    .searchInput {
      height: 30px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 640px) {
  .boxSearchWrapper {
    height: auto;

    .numberListCount {
      width: 100%;
      margin: 0 0 0 8px;
      font-size: 13px;
    }

    .searchInput {
      width: 140px;
    }
  }
}

@media screen and (max-width: 480px) {
  .boxSearchWrapper {
    flex-direction: column;
    height: auto;

    .numberListCount {
      margin: 0;
      justify-content: center;
    }

    .searchInput {
      width: 100%;
      margin: 8px auto;
    }

    .margin_btn {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 360px) {
}
