@import "../../../../Variables";

.red-faq-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 7px;

  .eSyoLN { /* это главный бокс */
    background-color: transparent;
    border: 1px solid $color-22;
    border-radius: 10px;
    height: auto;
  }

  .jGOQhU { /* это главные столбцы */
    background-color: $color-10;
    color: $color-7;
    width: auto;
    min-width: 300px;
    max-width: 350px;
    max-height: 1500px;
  }

  .iInNyS { /* это шапка */
    height: 100%;
    min-height: 30px;
    max-height: 60px;
  }

  .etOqdF { /* это название секции */
    margin: auto 0;
    height: auto;
    min-height: 18px;
    max-height: 90px;
    line-height: 18px;
    width: 85%;
  }

  .gWhAba { /* это числа основной секции */
    margin: auto 0;
    padding-right: 15px;
    height: 18px;
    line-height: 18px;
    width: auto;
  }

  .bttjFf { /* бокс всех карт */
    width: 100%;
    max-height: none;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px !important;
      background-color: rgb(32, 42, 48, 0.12) !important;
    }
  }

  .kHdPYn { /* одна карта */
    max-width: none;
    padding: 5px;
    margin-right: 4px;
  }

  .cdgkJM { /* хидер карты, текст */
    padding-bottom: 5px;
    border-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $color-2, rgba(0, 0, 0, 0)) 1 0%;
  }

  .gXSOQi { /*  */
    overflow: auto !important;

    &::-webkit-scrollbar {
      width: 3px !important;
      background-color: rgb(32, 42, 48, 0.12) !important;
    }
  }
}