@import "src/Variables";

.bundle {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  height: auto;
  border-radius: 5px;
  border: 1px solid $site-color-15;
  transition: all 0.25s ease;
  padding: 3px;
}

.full {
  max-width: 552px;
}

.mini {
  max-width: 296px;
}
