@import "src/Variables";

.shopkeepers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 16px;

  .content {
    width: 100%;
    max-width: 1600px;
    height: auto;
    min-height: 700px;
    max-height: none;
    margin: 0 auto 24px auto;
    display: flex;
    flex-direction: row;
    background: $site-color-4;
    border: 1px solid $site-color-5;
    border-radius: 4px;
    padding: 8px;

    .list {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      max-height: 88vh;
      position: sticky;
      top: 75px;

      .ul_names {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
        height: 100%;
        max-height: 80vh;
        min-height: auto;
        border: 1px solid $site-color-5;
        border-radius: 6px;
        background: $site-color-12;
        padding: 4px 4px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 4px;
        }

        .link {
          color: $site-color-2;
          font-family: $fontCustom2;
          font-size: 14px;
          height: 28px;
          line-height: 22px;
          width: 100%;
          padding: 2px 8px 0 8px;
          transition: all 0.35s ease;
          border-radius: 4px;
          margin: 1px 0;

          &:hover {
            background: $site-color-1;
            color: $site-color-8;
            cursor: pointer;
          }
        }

        .active {
          color: $site-color-9 !important;
        }
      }

      .scroll {
        display: flex;
        flex-direction: column;
        padding: 8px 24px;
      }
    }

    .offers {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 0 16px 8px 16px;
      position: relative;

      .reset {
        position: absolute;
        top: 2px;
        right: 8px;
        width: 48px;
        height: 48px;
        padding: 6px;
        background: $site-color-14;
        border: none;
        border-radius: 25%;
        cursor: pointer;

        svg {
          path {
            fill: $site-color-2;
            transition: all 0.35s ease;
          }
        }

        &:hover {
          svg {
            path {
              fill: $site-color-9;
            }
          }
        }
      }

      .actions {
        width: auto;
        height: auto;
        cursor: pointer;
        margin: 0 auto 8px auto;
      }

      .offers_none {
        display: flex;
        margin: auto 0;

        .text {
          font-size: 18px;
          font-weight: 400;
          font-family: $fontCustom2;
          text-align: center;
          color: $site-color-2;
          padding: 0 24px;
        }
      }
    }

    .villages_and_preview {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      min-width: 618px;
      width: 100%;
      min-height: 100%;
      max-width: 638px;
      height: 100%;
      max-height: none;
      padding: 8px;
      border: 1px solid $site-color-5;
      border-radius: 5px;
      background: $site-color-12;
      position: sticky;
      top: 75px;

      .search_items {
        margin: 8px 0 0 0;
      }

      .villager_info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 8px auto 0 auto;
        border-radius: 4px;
        border: 1px solid $site-color-5;
        padding: 12px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
