.shield_group {
  height: auto;
  width: auto;
  position: relative;

  .shield,
  .shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.center {
  margin: 4px auto;
}

.normal {
  margin: 4px;

  .shadow,
  .shield {
    padding-bottom: 2px !important;
  }
}