$sc: 200px;

.armor {
  display: flex;
  flex-direction: column;
  width: calc(#{$sc} + 16px);
  min-width: calc(#{$sc} + 16px);
  max-width: calc(#{$sc} + 16px);
  height: auto;
  min-height: 0;
  max-height: none;
  padding-right: 16px;
  position: relative;
  margin: 0 auto;

  .layersArmorStand {
    width: 100%;
    height: 100%;
  }

  .helmet {
    display: flex;
    flex-direction: column;
    width: $sc;
    height: auto;
    position: absolute;
    top: 0;

    .layersArmor,
    .layersTrim {
      position: absolute !important;
      width: $sc;
      height: auto;
    }
  }

  .chestplate {
    display: flex;
    flex-direction: column;
    width: $sc;
    height: auto;
    position: absolute;
    top: 16.9%;

    .layersArmor,
    .layersTrim {
      position: absolute !important;
      width: $sc;
      height: auto;
    }
  }

  .leggings {
    display: flex;
    flex-direction: column;
    width: $sc;
    height: auto;
    position: absolute;
    top: 38.7%;

    .layersArmor,
    .layersTrim {
      position: absolute !important;
      width: $sc;
      height: auto;
    }
  }

  .boots {
    display: flex;
    flex-direction: column;
    width: $sc;
    height: auto;
    position: absolute;
    top: 63.3%;

    .layersArmor,
    .layersTrim {
      position: absolute !important;
      width: $sc;
      height: auto;
    }
  }
}