@import "../../../../Variables";

.listWrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  padding-left: 8px;
  margin-right: 16px;

  .list {
    height: auto;
    min-height: 0;
    max-height: none;
    width: auto;
    font-size: 11px;
    font-weight: 400;
    font-family: $fontCustom2;
    list-style: inside;
    line-height: 1.5;
    margin: 1px 0;
    letter-spacing: 0.5px;
    color: $site-color-2;

    .red {
      color: lighten($site-color-11, 25%) !important;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }

    .main {
      color: $site-color-2 !important;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}