.wrapper_image {
  position: relative;

  .single {
    position: absolute;
    top: -1xp;
    left: -1xp;
    right: -1xp;
    bottom: -1xp;
  }

  .enchant {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 35%;
  }

  .crop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
