@import "src/Variables";

.block_password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 128px 0 0 0;
  width: 360px;
  height: 100%;
  margin: 0 auto;

  .form {
    margin: 0 0 12px 0;
  }

  .action {
    width: 150px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .block_password {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
}
