@import "../../../../Variables";

.container_add_edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;

  .left {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    .back {
      background: transparent;
      border: none;
      border-radius: 0;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: $site-color-2;
      margin-bottom: 15px;
      cursor: pointer;
      outline: none;
      transition: all 0.25s ease;

      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: $site-color-9;
      }
    }

    .post_parameters {
      display: flex;
      width: auto;
      height: 35px;

      .button_count {
        margin: auto 5px auto 0;
        width: auto;
        height: 29px;
        line-height: 29px;
        min-width: 29px;
        max-width: 29px;
        padding: 0 6px;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        color: $site-color-2;
        background: $site-color-12;
        transition: all 0.35s ease;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
          color: $site-color-8;
        }
      }

      .count_number {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        font-family: $fontCustom2;
        color: $site-color-2;
        font-weight: 400;
        margin: 0 0 0 auto;
        padding: 0 5px;
      }
    }

    .container_photos {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: auto;
      max-width: 290px;
      height: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }

      .margin {
        margin: 5px 6px 5px 0;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    .warn_container {
      display: flex;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .interface_user_add,
    .interface_tag_add {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      background: $site-color-12;
      border: 1px solid $site-color-5;
      border-radius: 5px;
      padding: 8px;

      .title {
        display: flex;
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        padding-left: 8px;
        font-weight: 400;
        font-family: $fontCustom2;
        color: $site-color-2;
      }

      form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .add {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          .choice_form {
            margin: 0 3px;
            width: auto;
            height: 27px;
            min-width: 50px;
            max-width: 160px;
            padding: 0 5px;
            outline: none;
            font-size: 13px;
            font-family: $fontCustom2;
            border: 1px solid $site-color-5;
            border-radius: 3px;
            color: $site-color-8;
            background: $site-color-12;
            transition: all 0.35s ease;

            &:hover,
            &:active,
            &:focus {
              outline: none;
            }
          }

          .submit {
            width: 27px;
            min-width: 27px;
            height: 27px;
            border-radius: 3px;
            font-size: 16px;
            border: 1px solid $site-color-5;
            background: $site-color-12;
            color: $site-color-2;
            transition: all 0.35s ease;
            cursor: pointer;
            margin: 0;
            padding: 0;

            &:hover,
            &:active,
            &:focus {
              color: $site-color-8;
            }
          }
        }
      }

      .users_block,
      .tags_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 8px;
        height: auto;
        max-height: 115px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 4px;
        }

        .one_name {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: auto;
          height: auto;
          background: $site-color-12;
          border-radius: 4px;
          padding: 2px;
          margin: 4px;

          .user_view_icon {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            height: 28px;
            min-height: 28px;
            max-height: 28px;
            border: none;
            border-radius: 4px;
            overflow: hidden;
            margin: 2px 4px;
          }

          .user_view_name {
            width: auto;
            height: 22px;
            line-height: 22px;
            border: none;
            border-radius: 5px;
            margin: 8px 4px 2px 4px;
            color: $site-color-2;
            font-family: $fontCustom2;
            font-size: 13px;
          }

          .user_view_actions {
            width: 28px;
            height: 28px;
            border-radius: 4px;
            font-size: 14px;
            border: none;
            background: transparent;
            color: $site-color-2;
            transition: all 0.35s ease;
            cursor: pointer;
            margin: 2px 0;
            padding: 0;
            text-align: center;

            &:hover,
            &:active,
            &:focus {
              color: $color-8;
            }
          }
        }

        .one_tag {
          border-radius: 4px;
          color: darken($site-color-2, 50%);
          background: lighten($site-color-12, 20%);
          padding: 0 8px;
          margin: 2px 4px;

          .tag_view_name {
            margin-right: 8px;
            font-size: 12px;
            font-family: $fontCustom2;
          }

          .tag_view_actions {
            font-size: 13px;
            outline: none;
            background: transparent;
            color: darken($site-color-2, 50%);
            transition: all 0.35s ease;
            cursor: pointer;
            margin: 3px 0;
            padding: 0;
            border: none;
            text-align: center;

            &:hover,
            &:active,
            &:focus {
              outline: none;
              color: $site-color-8;
            }
          }
        }
      }

      .tags_block {
        max-height: 68px;
      }
    }

    .interface_tag_add {
      margin-top: 8px;
    }

    .text_block {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      background: $site-color-12;
      border: 1px solid $site-color-5;
      border-radius: 4px;
      padding: 8px;
      margin-top: 8px;

      .title_check {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 8px;

        &:nth-child(1) {
          margin-top: 0;
        }
      }

      .title {
        font-weight: 400;
        font-size: 14px;
        color: $site-color-2;
        line-height: 32px;
        height: 32px;
        width: auto;
        font-family: $fontCustom2;
        padding-left: 8px;
      }

      .count {
        font-weight: 400;
        font-size: 11px;
        color: $site-color-2;
        line-height: 32px;
        height: 32px;
        font-family: $fontCustom2;
        margin-left: auto;

        label,
        span {
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }

        label {
          color: $site-color-11 !important;
        }
      }

      .choice_text {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        line-height: 24px;
        height: auto;
        min-height: 34px;
        max-height: 160px;
        vertical-align: bottom;
        padding: 5px;
        outline: none;
        font-size: 13px;
        font-family: $fontCustom2;
        border: 1px solid $site-color-5;
        border-radius: 3px;
        color: $site-color-8;
        background: $site-color-12;
        transition: all 0.35s ease;
        overflow: auto;
        resize: vertical;

        &:hover,
        &:active,
        &:focus {
          outline: none;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }
      }
    }

    .wrapper_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 320px;
      margin: auto auto 0 auto;
    }
  }
}

@media screen and (max-width: 1600px) {
  .container_add_edit {
    .right {
      .text_block {
        .choice_text {
          max-height: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container_add_edit {
    .right {
      .text_block {
        .choice_text {
          max-height: 135px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container_add_edit {
    flex-direction: column;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    .left {
      .container_photos {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: auto;
        max-width: none;
        min-width: auto;
        width: auto;
      }
    }

    .right {
      margin-right: 8px;
      margin-left: 0;

      .interface_user_add,
      .interface_tag_add {
        height: auto;

        .users_block,
        .tags_block {
          max-height: 600px;
        }
      }

      .text_block {
        .choice_text {
          max-height: 180px;
        }
      }

      .wrapper_actions {
        margin: 12px auto 2px auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .container_add_edit {
    overflow: hidden;

    .right {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .container_add_edit {
    .right {
      .interface_user_add,
      .interface_tag_add {
        form {
          flex-direction: column;

          .add {
            margin-bottom: 4px;

            .choice_form {
              min-width: 0;
              max-width: none;
              width: 100%;
            }
          }
        }

        .users_block,
        .tags_block {
          margin-top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container_add_edit {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 360px) {
}