@import "../../../../Variables";

.container_add_edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;

  .left {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    .container_photos {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: auto;
      max-width: 290px;
      height: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }

      .margin {
        margin: 0 6px 0 0;

        .box_one {
          display: flex;
          flex-direction: column;
          width: auto;
          height: auto;
          margin-bottom: 8px;

          input {
            display: none;
            z-index: -1;
          }

          .image_prev_box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 280px;
            min-width: 280px;
            max-width: 280px;
            height: 180px;
            min-height: 180px;
            max-height: 180px;
            border-radius: 4px;
            border: 1px solid $site-color-5;
            background: $site-color-12;
            position: relative;

            .count,
            .size {
              font-size: 16px;
              font-family: $fontCustom2;
              font-weight: 400;
              color: $site-color-5;
              position: absolute;
              bottom: 5%;
            }

            .count {
              right: 3%;
            }

            .size {
              left: 3%;
            }

            .image_prev {
              width: auto;
              max-width: 278px;
              height: auto;
              max-height: 178px;
            }

            .expand_label {
              width: auto;
              height: auto;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              cursor: pointer;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              transition: all 0.35s ease;

              &:hover {
                background: $site-color-12;
              }

              svg {
                max-width: 110px;
                max-height: 110px;
                margin: 0 auto;

                path {
                  stroke: $site-color-5;
                }
              }
            }

            .default_label {
              opacity: 1;
            }

            .hover_label {
              opacity: 0;
              transition: opacity 0.25s ease;

              svg {
                path {
                  stroke: rgba($site-color-2, 0.5);
                }
              }
            }
          }

          .image_prev_box:hover > .hover_label {
            opacity: 1;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .warn_container {
      display: flex;
      width: 100%;
      height: auto;
    }

    .box_parameters {
      display: flex;
      flex-direction: column;
      padding-right: 6px;
      overflow: auto;
      margin-top: 8px;
      margin-bottom: 8px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      .interface_user_add,
      .interface_tag_add {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        background: $site-color-12;
        border: 1px solid $site-color-5;
        border-radius: 5px;
        padding: 8px;

        form {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .add {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .choice_form {
              width: auto;
              min-width: 280px;
              max-width: 280px;
            }

            .submit {
              width: 32px;
              min-width: 32px;
              height: 32px;
              border-radius: 4px;
              font-size: 16px;
              border: 1px solid $site-color-5;
              background: $site-color-12;
              color: $site-color-2;
              transition: all 0.35s ease;
              cursor: pointer;
              margin: 0 0 0 6px;
              padding: 0;

              &:hover,
              &:active,
              &:focus {
                color: $site-color-8;
              }
            }
          }

          .error_wrapper {
            width: fit-content;
            margin-top: 8px;
          }
        }

        .users_block,
        .tags_block {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 8px;
          height: auto;
        }
      }

      .interface_tag_add {
        margin-top: 8px;
      }

      .text_block {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: $site-color-12;
        border: 1px solid $site-color-5;
        border-radius: 4px;
        padding: 8px;
        margin-top: 8px;
      }
    }

    .wrapper_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      min-width: 320px;
      margin: auto auto 0 auto;
    }
  }
}

body {
  .modal_main_image_redactor {
    position: absolute;
    z-index: 10098;
    width: auto;
    height: auto;
    overflow: auto;
    outline: none;
    margin: 16px auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    .box_image_redactor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      height: auto;
      margin: 0 auto;
    }

    .pre {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .overlay_modal_image_redactor {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10099;
    background: $site-color-4;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  body {
    .modal_main_image_redactor {
      width: 100%;
      max-width: 96%;
    }
  }

  .container_add_edit {
    flex-direction: column;
    overflow: auto;
    padding-right: 6px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    .left {
      .container_photos {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: none;

        .margin {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin: 0;

          .box_one {
            margin: 0 4px 4px 4px;
          }
        }
      }
    }

    .right {
      margin-left: 0;
      margin-top: 4px;

      .box_parameters {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .container_add_edit {
    overflow: hidden;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .container_add_edit {
    .right {
      .interface_user_add,
      .interface_tag_add {
        .add {
          .choice_form {
            min-width: 0;
            max-width: none;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container_add_edit {
    .left {
      .container_photos {
        .margin {
          .box_one {
            margin: 0 0 6px 0;

            .image_prev_box {
              width: 90vw;
              min-width: 90vw;
              max-width: 90vw;
              height: 240px;
              min-height: 240px;
              max-height: 240px;

              .image_prev {
                max-width: 89vw;
                max-height: 238px;
              }
            }
          }
        }
      }
    }

    .right {
      .wrapper_actions {
        margin-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
}

.interface_user_add,
.interface_tag_add {
  display: none !important;
}
