@import "../../../../Variables";

.galleryBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  .searchPost {
    display: flex;
    width: auto;
    height: 36px;
    line-height: 36px;
    outline: none;
    background: $color-7;
    border: 0.5px solid $color-22;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    color: $color-8;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px 10px 0;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: $color-21;
    }
  }

  .noPosts {
    font-family: $fontCustom2;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: auto;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    color: $color-3;
    margin-top: 15px;
  }

  .onePostGallery {
    width: auto;
    //height: 100%;
    //max-height: 164px;
    //min-height: 164px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px 10px 0;
    background: $color-20;
    border: 1px solid $color-22;
    border-radius: 5px;
    height: auto;
    min-height: fit-content;
    max-height: none;

    &:nth-child(1) {
      height: 140px;
      min-height: 140px;
      max-height: 140px;
    }


    &:hover > .addPost {
      padding: 0;
    }

    .addPost {
      width: 64px;
      height: 64px;
      position: relative;
      padding: 8px;
      transition: all 0.35s ease;
      margin: auto 0;
    }

    .wrapperImage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      width: 230px;
      max-width: 230px;
      min-width: 230px;
      height: auto;
      max-height: 120px;
      margin: auto 0;
      border: none;
      border-radius: 5px;

      .image {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      width: 100%;

      .title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        height: 32px;
        width: 100%;
        line-height: 35px;
        padding: 0 10px;
        color: $color-3;
      }

      .paragraph {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        padding: 0 25px;
        color: $color-3;
        width: auto;
        text-align: center;
        margin: 4px auto;
      }

      .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto 0;
        height: auto;
        min-height: 24px;
        max-height: none;

        .oneTag {
          margin: 2px 4px;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          border-radius: 4px;
          color: darken($color-3, 50%);
          background: $color-22;
          padding: 0 8px;
        }
      }

      .containerActions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 4px 0 0 0;

        .actions {
          height: 28px;
          line-height: 28px;
          border: none;
          border-radius: 8px;
          text-decoration: none;
          background: transparent;
          color: $color-3;
          padding: 0 8px;
          outline: none;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.35s ease;
          margin: 0 10px;

          &:active,
          &:hover,
          &:focus,
          &:visited {
            color: $color-3;
            outline: none;
            border: none;
          }
        }

        .analytics {
          background: darken($color-8, 18%);

          &:hover {
            background: lighten($color-8, 20%);
            color: $color-2;
          }
        }

        .edit {
          background: $color-4;

          &:hover {
            background: $color-6;
            color: $color-2;
          }
        }

        .delete {
          background: $color-9;

          &:hover {
            color: $color-2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .galleryBlock {
    .onePostGallery {
      height: auto;
      min-height: fit-content;
      max-height: none;

      &:nth-child(1) {
        height: 140px;
        min-height: 140px;
        max-height: 140px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .galleryBlock {
    .searchPost {
      margin: 0 0 8px 0;
    }

    .onePostGallery {
      margin: 0 0 8px 0;

      .desc {
        .tags {
          margin: 6px auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .galleryBlock {
    .onePostGallery {
      .desc {
        .title {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .galleryBlock {
    .onePostGallery {
      flex-direction: column;

      .wrapperImage {
        margin: 0 auto;
        width: 360px;
        max-width: 360px;
        min-width: 360px;
        height: auto;
        max-height: 150px;
      }

      .addPost {
        margin: 0 auto;
      }

      .desc {
        margin: 8px auto 0 auto;

        .title {
          height: 100%;
          min-height: fit-content;
          max-height: fit-content;
          line-height: 1.5;
          font-size: 16px;
        }

        .paragraph {
          margin: 8px auto;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .galleryBlock {
    .onePostGallery {
      .desc {
        .title {
          font-size: 15px;
        }

        .paragraph {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
}