@import "../../../Variables";

.warn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  line-height: 24px;

  .span-war {
    width: auto;
    height: auto;
    margin: auto 0;
  }

  .war-h4-auth {
    padding-left: 10px;
    height: auto;
    line-height: 24px;
    color: $color-4;
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .warn-block {
    height: auto;
    line-height: 20px;
    min-height: 40px;
    max-height: 150px;

    .war-h4-auth {
      text-align: center;
      line-height: 1.5;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 360px) {
  .warn-block {
    height: auto;
    max-height: 160px;
  }
}