@import "../../../Variables";

.warnBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

  .spanIcon {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }

  .warnInformation {
    padding-left: 10px;
    height: auto;
    min-height: 24px;
    line-height: 24px;
    color: $site-color-9;
    font-size: 13px;
    font-family: $fontCustom2;
    font-weight: 400;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .warnBlock {
    height: auto;
    line-height: 20px;
    min-height: 40px;
    max-height: 150px;

    .warnInformation {
      text-align: center;
      line-height: 1.5;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .warnBlock {
    height: auto;
    max-height: 160px;
  }
}