@import "../../../Variables.scss";

.main-regulations {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .regulations-box {
    display: flex;
    flex-direction: row;
    width: 85%;
    min-height: 700px;
    height: auto;
    margin: 25px auto 0 auto;
    padding: 25px;
    background: $color-11;
    border: none;
    border-radius: 7px;

    .list-reg {
      display: flex;
      flex-direction: column;
      width: 200px;

      .btn-click {
        font-weight: 400;
        color: white;
        height: auto;
        line-height: 1;
        text-align: start;
        font-size: 14px;
        outline: none;
        border-radius: 7px;
        border: none;
        background: $color-21;
        transition: all 0.35s ease;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;

        &:hover {
          background: $color-22;
        }

        &:disabled {
          background: $color-4;
          color: $color-3;
        }
      }
    }

    .content-reg {
      display: flex;
      width: 100%;
      height: auto;
      margin-left: 25px;

      .wrapper {
        width: auto;
        height: auto;

        .div-id-tab-content {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;

          .title-division {
            width: 100%;
            height: 35px;
            line-height: 35px;
            color: $color-8;
            font-size: 20px;
            font-weight: 400;
            padding-left: 25px;
          }

          .regulations-list {
            margin-top: 20px;
            width: 100%;
            height: auto;

            .one-content-p {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: auto;
              font-size: 16px;
              font-weight: 400;
              color: $color-3;
              line-height: 1.5;

              span {
                width: 15px;
                height: 100%;
                margin-right: 10px;
              }

              label {
                width: 100%;
                height: auto;

                .content-ul {
                  display: flex;
                  flex-direction: column;
                  margin-left: 10px;

                  .ul-content-li {
                    list-style: inside;
                    width: 100%;
                    height: auto;
                    font-size: 14px;
                  }
                }
              }
            }

            .svg-punishment-one {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: auto;
              padding-left: 30px;
              margin-bottom: 15px;

              .svg-rotate-div {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;

                .rotate {
                  height: 20px;
                  width: 20px;
                  margin: 0 0 auto 0;
                  transform: rotate(-90deg);
                }

                .span-war {
                  width: auto;
                  height: 25px;
                  line-height: 25px;
                  margin: 0 8px auto 8px;
                  color: $color-9;
                }
              }

              .punishment-one {
                width: auto;
                max-width: 90%;
                margin-left: 5px;
                font-size: 14px;
                font-weight: 400;
                color: $color-3;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}


