@import "src/Variables";

.main-regulations {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .regulations-box {
    display: flex;
    flex-direction: row;
    width: 85%;
    min-height: 700px;
    height: auto;
    margin: 25px auto 0 auto;
    padding: 25px;
    background: $site-color-4;
    border: 1px solid $site-color-5;
    border-radius: 8px;

    .list-reg {
      display: flex;
      flex-direction: column;
      width: 200px;

      .btn-click {
        font-weight: 400;
        font-family: $fontCustom2;
        color: $site-color-2;
        height: auto;
        line-height: 1;
        text-align: start;
        font-size: 14px;
        outline: none;
        border-radius: 7px;
        border: none;
        background: $site-color-12;
        transition: all 0.35s ease;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;

        &:hover {
          background: $site-color-1;
        }

        &:disabled {
          background: $site-color-9;
          color: $site-color-2;
        }
      }
    }

    .content-reg {
      display: flex;
      width: 100%;
      height: auto;
      margin-left: 25px;

      .wrapper {
        width: auto;
        height: auto;

        .div-id-tab-content {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;

          .title-division {
            width: 100%;
            height: 35px;
            line-height: 35px;
            color: $site-color-8;
            font-size: 20px;
            font-weight: 400;
            padding-left: 25px;
            font-family: $fontCustom2;
          }

          .regulations-list {
            margin-top: 20px;
            width: 100%;
            height: auto;

            .one-content-p {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: auto;
              font-size: 16px;
              font-weight: 400;
              color: $site-color-2;
              line-height: 1.5;

              span {
                width: 15px;
                height: 100%;
                margin-right: 10px;
              }

              label {
                width: 100%;
                height: auto;

                .content-ul {
                  display: flex;
                  flex-direction: column;
                  margin-left: 10px;

                  .ul-content-li {
                    list-style: inside;
                    width: 100%;
                    height: auto;
                    font-size: 14px;
                  }
                }
              }
            }

            .svg-punishment-one {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: auto;
              padding-left: 30px;
              margin-bottom: 15px;

              .svg-rotate-div {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;

                .rotate {
                  height: 20px;
                  width: 20px;
                  margin: 0 0 auto 0;
                  transform: rotate(-90deg);
                }

                .span-war {
                  width: auto;
                  height: 25px;
                  line-height: 25px;
                  margin: 0 8px auto 8px;
                  color: $site-color-11;
                }
              }

              .punishment-one {
                width: auto;
                max-width: 90%;
                margin-left: 5px;
                font-size: 14px;
                font-weight: 400;
                color: $site-color-2;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1600px) {
  .main-regulations {
    .regulations-box {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .main-regulations {
    .regulations-box {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .main-regulations {
    .regulations-box {
      width: 98%;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .main-regulations {
    .regulations-box {
      flex-direction: column;

      .list-reg {
        margin: 0 auto;
        width: 80%;
      }

      .content-reg {
        width: auto;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main-regulations {
    .regulations-box {
      padding: 15px;

      .content-reg {
        .wrapper {
          .div-id-tab-content {
            .title-division {
              padding: 0;
              text-align: center;
            }

            .regulations-list {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-regulations {
    .regulations-box {
      .content-reg {
        .wrapper {
          .div-id-tab-content {
            .title-division {
              height: 28px;
              line-height: 28px;
              font-size: 18px;
            }

            .regulations-list {
              margin: 0;

              .one-content-p {
                font-size: 14px;
                line-height: 1.4;

                span {
                  margin-right: 7px;
                }

                label {
                  .content-ul {
                    .ul-content-li {
                      font-size: 13px;
                    }
                  }
                }
              }

              .svg-punishment-one {
                flex-direction: column;

                .svg-rotate-div {
                  .rotate {
                    position: relative;
                    top: 4px;
                    margin: 0;
                    transform: rotate(-45deg);
                  }

                  .span-war {
                    font-size: 14px;
                    margin: 0 4px auto 4px;
                  }
                }

                .punishment-one {
                  margin-left: 15px;
                  font-size: 13px;
                  line-height: 1.4;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main-regulations {
    .regulations-box {
      .list-reg {
        width: 98%;
      }

      .content-reg {
        .wrapper {
          .div-id-tab-content {
            .regulations-list {
              .one-content-p {
                font-size: 13px;

                span {
                  margin-right: 5px;
                }

                label {
                  .content-ul {
                    .ul-content-li {
                      font-size: 12px;
                    }
                  }
                }
              }

              .svg-punishment-one {
                .punishment-one {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}


