@import "../../../Variables.scss";

.text_editor {
  background: $site-color-12;
  border: 1px solid $site-color-5;
  border-radius: 4px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid $site-color-5;
  position: sticky;
  top: 0;
  background: $site-color-14;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $site-color-12;
  }

  .block {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }
}

.editor {
  outline: none;
  padding: 5px;
  margin: 0;
  color: $site-color-2;
  min-height: 350px;
  font-family: $fontCustom2 !important;

  p {
    margin: 0;
    line-height: 1.45;
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  ol,
  ul,
  li {
    font-family: $fontCustom2 !important;
  }

  li,
  blockquote,
  span {
    font-size: 13px;
  }
}

.button_style {
  cursor: pointer;
  width: 26px;
  height: 26px;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.35s ease;

  svg {
    transition: all 0.35s ease;

    path {
      transition: all 0.35s ease;
    }
  }

  &:hover {
    background: $site-color-5;

    svg {
      path {
        fill: $site-color-9;
      }
    }
  }
}

.active_on {
  color: $site-color-8;

  svg {
    path {
      fill: $site-color-8;
    }
  }
}

.active_off {
  color: $site-color-2;

  svg {
    path {
      fill: $site-color-2;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .toolbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .editor {
    p {
      line-height: 1.4;
      font-size: 14px;
    }

    li,
    blockquote,
    span {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
