@import "../../../Variables";

.preloaderWrapper {
  width: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .preloader {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}
