@import "../../../../Variables.scss";

.box_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 1600px;
  height: 100%;
  min-height: 100%;
  max-height: 87vh;
  margin: 0 auto 16px auto;
  background: $site-color-4;
  border-radius: 8px;
  border: 1px solid $site-color-5;
  padding: 8px;
  position: relative;
}
