@import "src/Variables";

.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: max-content;
  min-width: 400px;
  max-width: 500px;
  height: min-content;
  min-height: 150px;
  max-height: 450px;
  overflow: hidden;
  border-radius: 8px;
  padding-top: 12px;

  .text {
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 17px;
    font-family: $fontCustom2;
    color: $site-color-2;
    text-align: center;
    margin: 0 8px;
  }

  .children {
    margin: 16px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    padding: 0 8px;
  }

  .timeline {
    height: 3px;
    display: flex;
    position: absolute;
    bottom: 0;
  }
}
