@import "../../../Variables.scss";

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mainCab {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;

  .boxWrapper {
    max-width: 1500px;
    width: 100%;
    height: 800px;
    background: $color-11;
    margin: 25px auto 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid $color-2;
    border-radius: 5px;

    .buttonWrapper {
      display: none;
    }
  }
}

.columnOne {
  width: 275px;
  min-width: 275px;
  max-width: 275px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-2, $color-2, $color-2, rgba(0, 0, 0, 0)) 1 100%;

  .menuCab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 10px;

    .blockLink {
      display: flex;
      flex-direction: column;
      width: auto;
      margin-top: auto;

      &:nth-child(1) {
        margin: 0;
      }

      .tab {
        background: transparent;
        cursor: pointer;
        transition: all 0.5s ease;
        width: 100%;
        height: 40px;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        margin: 3px 0 3px 0;
        padding-left: 12px;
        color: $color-3;
        border: none;
        text-align: start;
        border-radius: 15px;
        outline: none;

        &:active,
        &:hover {
          outline: none;
        }

        &:hover {
          background: $color-14;
        }
      }

      .checked {
        background-color: $color-4 !important;
        color: $color-2 !important;
      }
    }
  }
}

.columnTwo {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  color: $color-3;
}

@media screen and (max-width: 1600px) {
  .mainCab {
    .boxWrapper {
      max-width: none;
      width: auto;
      margin: 20px 15px 0 15px;
    }
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .mainCab {
    .columnOne {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainCab {
    .boxWrapper {
      margin: 0 15px 0 15px;
    }

    .columnOne {
      width: 225px;
      min-width: 225px;
      max-width: 225px;

      .menuCab {
        .blockLink {
          .tab {
            font-size: 18px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .mainCab {
    .boxWrapper {
      flex-direction: column;
      height: auto;
      min-height: 100vh;

      .buttonWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 32px;
        min-height: 32px;
        max-height: 32px;

        .buttonPhone {
          display: flex;
          flex-direction: row;
          justify-content: center;
          background: transparent;
          color: $color-3;
          text-align: center;
          border: none;
          font-weight: 400;
          font-size: 20px;
          width: 32px;
          height: 32px;
          line-height: 32px;
          cursor: pointer;
          animation: appearance 0.85s both ease;
          transition: all 0.35s ease;

          &:hover {
            color: $color-8;
            background: $color-21;
            border-radius: 4px;
          }
        }

        .buttonPhoneNoVisible {
          display: none !important;
          opacity: 0 !important;
        }
      }

      .columnOne {
        padding: 0 8px;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        display: none;
        opacity: 0;
        transition: all 0.35s ease;

        .menuCab {
          .blockLink {
            &:nth-child(2) {
              margin-top: 15%;
            }
          }
        }
      }

      .columnOneRender {
        display: flex !important;
        opacity: 1;
        animation: appearance 0.85s both ease;
      }

      .columnTwo {
        padding: 0 8px;
        transition: all 0.35s ease;
        animation: appearance 0.85s both ease;
      }

      .columnTwoRender {
        display: none !important;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .mainCab {
    .boxWrapper {
      margin: 5px;
      padding: 5px;

      .columnOne {
        padding: 0 5px;
        width: 100%;
        min-width: auto;
        max-width: none;
      }

      .columnTwo {
        padding: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
}
