@import "../../../Variables.scss";

.main-cab{
 width: 100%;
 height: auto;
 background: url(../../../bases/assets/bg6.png);
 background-position-x: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 .box{
  width: 1500px;
  height: auto;
  min-height: 800px;
  background: $color-11;
  margin: 0 auto 50px auto;
  top: -175px;
  position: relative;
  .col-1{
   width: 350px;
  }
 }
}