@import "../../../Variables.scss";

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-cab {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;

  .box {
    max-width: 1500px;
    width: 100%;
    height: 800px;
    background: $color-11;
    margin: 25px auto 50px auto;
    padding: 35px;
    display: flex;
    flex-direction: row;

    .bt-ph {
      display: none;
      z-index: 8500;
    }
  }
}

.col-1 {
  z-index: 8000;
  width: 275px;
  min-width: 275px;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-3, rgba(0, 0, 0, 0)) 1 100%;

  .menu-cabinet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;

    .m1 {
      display: flex;
      flex-direction: column;
      width: auto;

      .tab {
        background: transparent;
        cursor: pointer;
        transition: all 0.5s ease;
        width: 100%;
        height: 40px;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        margin: 3px 0 3px 0;
        padding-left: 12px;
        color: $color-3;
        border-radius: 15px;
        outline: none;

        &:active,
        &:hover {
          outline: none;
        }

        &:hover {
          background: $color-14;
        }
      }

      .checked {
        background-color: $color-4 !important;
      }
    }
  }
}

.col-2 {
  z-index: 7000;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  color: $color-3;
}

@media screen and (max-width: 1600px) {
  .main-cab {
    .box {
      max-width: none;
      width: auto;
      height: 800px;
      margin: 25px 50px 50px 50px;
    }

    .col-1 {
      .menu-cabinet {
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .main-cab {
    .box {
      margin: 25px 27px 50px 27px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .main-cab {
    .box {
      margin: 20px 20px 50px 20px;
      padding: 20px;
    }

    .col-1 {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-cab {
    .box {
      margin: 20px 20px 50px 20px;
      padding: 15px;
    }

    .col-1 {
      width: 225px;
      min-width: 225px;
      max-width: 225px;

      .menu-cabinet {
        .m1 {
          .tab {
            font-size: 18px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .main-cab {
    .box {
      position: relative;

      .bt-ph {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        background: transparent;
        color: $color-3;
        text-align: center;
        border: none;
        font-weight: 400;
        font-size: 20px;
        width: 32px;
        right: 15px;
        cursor: pointer;
        animation: appearance 0.85s both ease;
        transition: all 0.25s ease;

        &:hover {
          color: $color-8;
        }
      }

      .bt-no {
        display: none !important;
        opacity: 0 !important;
      }

      .col-1 {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        display: none;
        opacity: 0;
        transition: all 0.25s ease;
      }

      .col-1-render {
        display: flex !important;
        opacity: 1;
        animation: appearance 0.85s both ease;
      }

      .col-2 {
        transition: all 0.25s ease;
        animation: appearance 0.85s both ease;
      }

      .col-2-render {
        display: none !important;
        opacity: 0;
      }
    }

  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .main-cab {
    .box {
      margin: 5px;
      padding: 5px;

      .col-1 {
        width: 100%;
        min-width: auto;
        max-width: none;
      }

      .col-2 {
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
}
