@import "../../../Variables.scss";

@keyframes display {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}

.mainCab {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;

  .boxWrapper {
    max-width: 1580px;
    width: 100%;
    height: 88vh;
    background: $site-color-4;
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: row;
    border: 1px solid $site-color-5;
    border-radius: 8px;
    position: relative;

    .phoneContent {
      display: none;
    }
  }
}

.columnOne {
  width: 275px;
  min-width: 275px;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
  border-right: 1px solid $site-color-5;

  .menuCab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;

    .blockLink {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;

      .tab {
        background: transparent;
        cursor: pointer;
        transition: all 0.35s ease;
        width: 100%;
        height: 32px;
        line-height: 37px;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        font-family: $fontCustom2;
        padding: 0 12px 0 36px;
        color: $site-color-2;
        border: none;
        text-align: start;
        border-radius: 8px;
        margin: 2px 0;
        position: relative;

        svg {
          width: 20px;
          height: 20px;
          margin: 6px 0;
          position: absolute;
          left: 8px;
          transition: all 0.35s ease;

          path {
            transition: all 0.35s ease;
          }
        }

        //&:before {
        //  content: '\2022';
        //  position: absolute;
        //  left: 8px;
        //  margin-top: 2px;
        //}

        //&:after {
        //  content: "\276F";
        //  position: absolute;
        //  font-size: 14px;
        //  right: 8px;
        //}

        &:active {
          color: $site-color-2;
        }

        &:hover {
          background: $site-color-1;
        }
      }

      .checked {
        color: $site-color-9;
        background: $site-color-12;

        svg {
          path {
            fill: $site-color-9;
          }
        }

        .stroke_color {
          svg {
            path {
              fill: none;
              stroke: $site-color-9;
            }
          }
        }
      }

      .disabled {
        color: $site-color-5;
        cursor: default;

        &:active {
          color: $site-color-5;
        }

        &:hover {
          background: transparent;
        }

        svg {
          path {
            fill: $site-color-5;
          }
        }

        .stroke_color {
          svg {
            path {
              fill: none;
              stroke: $site-color-5;
            }
          }
        }
      }
    }

    .blockLinkLogout {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: auto;
      height: 100%;
      min-height: 0;
      max-height: none;

      .logout {
        margin: 100% 0 0 0;
      }
    }

    .delimiter {
      display: none;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: auto;

      .bullet {
        font-size: 24px;
        font-weight: 400;
        font-family: $fontCustom2;
        color: $site-color-5;
        margin: 8px 28px 0 28px;
      }
    }
  }
}

.columnTwo {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
}

@media screen and (max-width: 1600px) {
  .mainCab {
    .boxWrapper {
      max-width: none;
      width: auto;
      margin: 24px 16px;
    }
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .mainCab {
    .columnOne {
      width: 260px;
      min-width: 260px;
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainCab {
    .boxWrapper {
      margin: 16px 12px;
    }

    .columnOne {
      width: 225px;
      min-width: 225px;
      max-width: 225px;

      .menuCab {
        .blockLink {
          .tab {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .mainCab {
    .boxWrapper {
      flex-direction: column;
      height: auto;
      min-height: 100vh;

      .phoneContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid $site-color-5;
        height: 32px;

        .swipePhone {
          display: flex;
          flex-direction: row;
          width: auto;
          height: 24px;
          margin: 4px 0;
          padding: 0 18px;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          transition: all 0.35s ease;

          &:hover {
            background: $site-color-1;
          }

          .ico,
          .text {
            color: $site-color-2;
            font-weight: 400;
            line-height: 24px;
            height: 24px;
            width: auto;
            cursor: pointer;
          }

          .ico {
            font-size: 22px;
          }

          .text {
            font-size: 14px;
            font-family: $fontCustom2;
            margin-left: 8px;
          }

          .customColorIco {
            color: $site-color-9;
          }
        }
      }

      .columnOne {
        display: none;
        height: auto;
        width: 80%;
        min-width: 0;
        max-width: none;
        border: 1px solid $site-color-5;
        border-top: none;
        min-height: 0;
        max-height: max-content;
        top: 32px;
        background: $site-color-4;
        left: 50%;
        transform: translate(-50%);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        animation: display 0.35s both ease;

        .blockLinkLogout {
          height: auto;

          .logout {
            margin: 0;
          }
        }

        .delimiter {
          display: flex;
        }
      }

      .display {
        display: flex;
        position: absolute;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .mainCab {
    .boxWrapper {
      margin: 6px;

      .columnOne {
        width: 100%;
        border-right: none;
        border-left: none;
      }

      .columnTwo {
        padding: 4px 6px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
}
