@import "src/Variables";

$parameterItem: 64px;
$length: 34px;

.item_block {
  display: flex;

  .item {
    display: flex;
    width: $parameterItem;
    height: $parameterItem;
    padding: 1px;
    margin: 2px;
    border-radius: 4px;
    border: 2px solid $site-color-15;
    transition: all 0.3s ease;
    background: $site-color-14;
  }

  .content {
    position: relative;

    &:hover {
      cursor: help;
    }

    .count {
      width: auto;
      height: auto;
      position: absolute;
      display: flex;
      right: 3px;
      bottom: 3px;
      font-size: 13px;
      font-weight: 400;
      color: $site-color-2;
      font-family: $fontCustom2;
    }
  }

  .mini {
    width: $length;
    height: $length;
    margin: 1px;

    .count {
      font-size: 9px;
      bottom: 0;
      right: 0;
    }
  }

  .tooltip {
    display: flex;
    position: fixed;
    width: auto;
    height: auto;
    padding: 6px;
    background: $site-color-4;
    border-radius: 8px;
    border: 1px solid $site-color-5;
    z-index: 50;
    margin-left: 28px;

    .shulker_wrapper {
      display: flex;
      flex-direction: row;
      width: max-content;
      height: max-content;
      background: $site-color-12;
      border-radius: 5px;
    }
  }
}

