@import "../../../../Variables";

.one-item-block {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background: transparent;
  position: relative;

  &:hover > .item-text {
    opacity: 1;
    z-index: 50;
  }

  .photo-item {
    display: flex;
    width: auto;
    height: auto;
    padding: 3px;
    margin: 3px;
    background: $color-7;
    border-radius: 3px;
    border: 1px solid $color-22;
    transition: all 0.25s ease;
    position: relative;

    &:hover {
      cursor: help;
      background: $color-21;
    }

    span {
      width: auto !important;
      height: auto !important;
      max-height: 55px;
    }

    .item-count {
      position: absolute;
      display: flex;
      right: 3px;
      bottom: 3px;
      font-size: 13px;
      font-weight: 400;
      color: $color-3;
      z-index: 35;
    }

    .image {
      width: 55px;
      min-width: 55px;
      max-width: 55px;
      height: 55px;
      min-height: 55px;
      max-height: 55px;
      z-index: 34;
    }
  }

  .photo-item-none {
    margin: 3px;
    width: 63px;
    height: 63px;
    display: flex;
    background: $color-7;
    border-radius: 5px;
    border: 1px solid $color-22;

    &:hover {
      background: $color-21;
    }
  }

  .item-text {
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    padding: 8px;
    width: auto;
    min-width: 225px;
    max-width: 350px;
    height: auto;
    background: $color-2;
    border-radius: 8px;
    border: 1px solid $color-22;
    top: 40px;
    left: 40px;
    z-index: -50;

    h3 {
      width: max-content;
      color: $color-3;
      font-weight: 400;
      font-size: 14px;
    }

    .p-style-minecraft-id {
      color: $color-13;
      font-weight: 400;
      font-size: 12px;
      margin: 15px 0 0 0;
    }
  }
}