@import "../../../Variables.scss";

.svg-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: auto;
  padding-right: auto;

  .one-block {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 25px auto;
    border: 1px solid $color-3;
    border-radius: 15%;
    padding: 35px;
  }
}
