@import "src/Variables";

.shopkeepers_all_status_box {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .text {
    font-family: $fontCustom2;
    font-weight: 400;
    font-size: 15px;
    color: $site-color-8;
    text-align: center;
    margin: 8px 0;
  }
}
