@import "../../../../Variables.scss";

.main-reg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: auto;
	background: url(../../../general/assets/bg2.png);
    background-color: $general-gark-background-color;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 150px 150px -10px $general-gark-shadow-color,
        inset 0px -150px 150px -10px $general-gark-shadow-color;
}
