@import "../../../Variables.scss";

.mainStatistic {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .statistic {
    width: 100%;
    max-width: 1410px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 32px auto;

    .wrapper {
      height: 948px;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
  .mainStatistic {
    .statistic {
      width: auto;
      margin: 0 48px 32px 48px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .mainStatistic {
    .statistic {
      margin: 0 44px 32px 44px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainStatistic {
    .statistic {
      margin: 0 40px 32px 40px;
    }
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .mainStatistic {
    .statistic {
      margin: 0 18px 24px 18px;
    }
  }
}

@media screen and (max-width: 640px) {
  .mainStatistic {
    .statistic {
      margin: 0 16px 16px 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  .mainStatistic {
    .statistic {
      margin: 0 12px 12px 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .mainStatistic {
    .statistic {
      margin: 0 8px 8px 8px;
    }
  }
}
