@import "src/Variables";

.main_support_block {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  min-height: 800px;

  .support {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .information {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;
      min-height: 480px;
      width: auto;
      margin: 25px auto 0 auto;

      .text_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 750px;
        height: 100%;
        margin: auto 0;

        .text_line {
          font-size: 15px;
          font-weight: 400;
          font-family: $fontCustom2;
          color: $site-color-2;
          margin: 5px 0;
          text-align: start;
          line-height: 1.5;
          text-indent: 3ch;
          width: 100%;
        }

        .link_wrapper {
          display: flex;
          flex-direction: column;
          margin: 0 0 0 32px;

          .link_support_custom {
            line-height: 1.5;
          }
        }
      }

      .img_wrapper {
        display: flex;
        width: 100%;
        max-width: 750px;
        height: 100%;
        margin: auto 0;

        .image {
          max-width: 550px;
          max-height: 550px;
          margin: 0 auto;
        }
      }
    }

    .sub_title {
      width: 100%;
      display: flex;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: $site-color-2;
      font-weight: 400;
      font-size: 24px;
      justify-content: center;
      margin: 10px auto;
      font-family: $fontCustom2;
    }

    .monitoring_block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      margin: 100px auto 80px auto;

      .monitoring_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 240px;
        height: 100px;
        margin: 8px auto;
        background: $site-color-4;
        border: 1px solid $site-color-5;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.35s ease;
        outline: none;
        color: $site-color-2;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: $fontCustom2;

        &:active,
        &:visited {
          color: $site-color-2;
        }

        &:hover {
          background: $site-color-1;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
  .main_support_block {
    .support {
      .information {
        .text_wrapper {
          margin: 0 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .main_support_block {
    .support {
      .information {
        .text_wrapper {
          margin: 0 10px;

          .text_line {
            line-height: 1.35;
          }
        }

        .img_wrapper {
          .image {
            max-width: 450px;
            max-height: 450px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .main_support_block {
    .support {
      .information {
        flex-wrap: wrap;

        .text_wrapper {
          max-width: 80%;

          .text_line {
            line-height: 1.5;
          }
        }

        .img_wrapper {
          max-width: 80%;

          .image {
            width: auto;
            max-width: none;
            min-width: 0;
            max-height: 550px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main_support_block {
    .support {
      .information {
        .text_wrapper {
          max-width: 94%;
        }

        .img_wrapper {
          max-width: 94%;

          .image {
            max-height: 480px;
          }
        }
      }

      .monitoring_block {
        width: 94%;
        margin: 65px auto 65px auto;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main_support_block {
    .support {
      .information {
        .img_wrapper {
          width: 100%;
          min-width: auto;
          max-width: none;

          .image {
            height: auto;
            width: auto;
            max-height: 465px;
            min-height: auto;
            max-width: 465px;
            min-width: auto;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main_support_block {
    .support {
      .information {
        .text_wrapper {
          font-size: 14px;

          .text_line {
            font-size: 14px;
          }
        }

        .img_wrapper {
          .image {
            max-width: 350px;
          }
        }
      }

      .monitoring_block {
        margin: 60px auto 45px auto;

        .sub_title {
          font-size: 20px;
        }

        .monitoring_card {
          width: 80%;
          font-size: 16px;
          height: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main_support_block {
    .support {
      .information {
        .img_wrapper {
          .image {
            max-width: 250px;
          }
        }
      }
    }
  }
}
