@import "../../../Variables.scss";

.main-maps {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .maps {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-size: 32px;
      font-weight: 400;
      color: $color-3;
      margin: 0 auto;
    }
  }
}
