@import "../../../Variables";

.box-marker-add {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .colums-add-1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 700px;
    margin-right: 15px;

    .input-name {
      width: auto;
      height: 28px;
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
      color: $color-3;
      padding-left: 10px;
      padding-right: 10px;
    }

    .col-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-bottom: 25px;

      .go-back {
        background: transparent;
        border: none;
        border-radius: 0;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: $color-3;
        margin-bottom: 15px;
        cursor: pointer;
        outline: none;
        transition: all 0.15s ease;

        &:hover,
        &:active,
        &:focus {
          outline: none;
          color: $color-4;
        }
      }

      .input-str {
        width: auto;
        min-width: 50%;
        height: auto;
        border: 0.5px solid $color-22;
        border-radius: 7px;
        color: $color-8;
        text-align: start;
        font-size: 16px;
        font-weight: 400;
        outline: none !important;
        padding: 7px;
        background: $color-7;

        &:hover,
        &:active,
        &:focus {
          outline: none;
        }

        .option-list {
          color: $color-3;
          background: $color-7;
          font-size: 14px;
          border-radius: 7px;

          &:hover,
          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }

    .coord {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;

      .block-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin-bottom: 22px;

        .col-row-custom {
          display: flex;
          flex-direction: row;

          .input-str-custom {
            width: 100px;
            height: auto;
            border: 0.5px solid $color-22;
            border-radius: 7px;
            color: $color-8;
            text-align: start;
            font-size: 16px;
            font-weight: 400;
            outline: none !important;
            padding: 5px;
            background: $color-7;

            &:hover,
            &:active,
            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .box-bt {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      margin-top: auto;

      .bt-all {
        width: 140px;
        height: 36px;
        line-height: 36px;
        border: none;
        border-radius: 12px;
        font-weight: 400;
        font-size: 14px;
        color: $color-3;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
      }

      .bt-add {
        background: $color-4;
      }

      .bt-del {
        background: $color-9;
      }
    }
  }

  .colums-add-2 {
    display: flex;
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .box-marker-add {
    flex-direction: column;
    overflow: auto;

    .colums-add-1 {
      height: auto;
      min-height: 500px;
      max-height: 600px;
      width: 96%;
    }

    .colums-add-2 {
      height: auto;
      min-height: 750px;
      max-height: 950px;
      padding: 8px;
    }
  }
}

@media screen and (max-width: 960px) {
  .box-marker-add {
    .colums-add-1 {
      margin: 10px auto 5px auto;

      .box-bt {
        justify-content: center;

        .bt-all {
          margin: 0 15px;
        }
      }
    }

    .colums-add-2 {
      max-width: none;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}