@import "src/Variables";

.boxMapWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .boxListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 4px;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .boxMapWrapper {
    .boxListWrapper {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}