@import "../../../Variables";

@keyframes ErrorsViewBox {
  0% {
    opacity: 0;
    height: 0;
    width: auto;
  }
  100% {
    opacity: 1;
    width: auto;
    height: auto;
  }
}

.box_map_add_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .columns_add_one {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    height: auto;
    margin-right: 8px;

    .row_wrapper_content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      margin-bottom: 25px;

      .back {
        background: transparent;
        border: none;
        border-radius: 0;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: $site-color-2;
        margin-bottom: 15px;
        cursor: pointer;
        outline: none;
        transition: all 0.25s ease;

        &:hover,
        &:active,
        &:focus {
          outline: none;
          color: $site-color-9;
        }
      }
    }

    .coordinates_wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;

      .block_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin-bottom: 22px;

        .row_wrapper_content_custom {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .error {
      display: flex;
    }

    .actions_box {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: auto;
    }
  }

  .columns_add_two {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .box_map_add_wrapper {
    flex-direction: column;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px !important;
    }

    .columns_add_one {
      height: auto;
      min-height: auto;
      max-height: none;
      width: 100%;
      min-width: 0;
      max-width: none;
      padding: 0 8px 8px 0;
      margin: 0;

      .error {
        flex-direction: row;
        justify-content: center;
      }

      .actions_box {
        margin-top: 50px;
      }
    }

    .columns_add_two {
      height: auto;
      min-height: 750px;
      max-height: 950px;
      width: 100%;
      padding-right: 8px;
    }
  }
}

@media screen and (max-width: 960px) {
  .box_map_add_wrapper {
    .columns_add_one {
      padding: 0 0 8px 0;
      min-height: 0;
    }

    .columns_add_two {
      height: 800px;
      min-height: 800px;
      max-height: 800px;
      width: 100%;
      padding: 0 0 8px 0;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}