@import "../../../Variables";

.box-marker {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .box-searth {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    padding: 2.5px;

    .nomer-list {
      display: flex;
      width: 350px;
      height: 35px;
      line-height: 35px;
      margin: 0 0 0 15px;
      padding: 0;
      font-weight: 400;
      font-size: 18px;
      color: $color-3;
    }

    .search-input {
      display: flex;
      width: 225px;
      height: 35px;
      line-height: 35px;
      outline: none;
      background: $color-7;
      border: 0.5px solid $color-22;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      color: $color-8;
      padding-left: 10px;
      padding-right: 10px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .box-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 20px;
    padding-right: 10px;

    .str {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 65px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 0.5px solid $color-22;
      border-radius: 5px;
      padding: 7.5px;
      transition: all 0.25s ease;

      &:hover {
        background: $color-7;
      }

      &:hover > .margin-add {
        padding: 0;
      }

      .margin-add {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 5px;
        transition: all 0.25s ease;
      }

      .colums-1 {
        display: flex;
        max-width: 69%;
        flex-direction: row;
        justify-content: flex-start;
        margin: auto 0;

        .str-p {
          height: 40px;
          line-height: 40px;
          color: $color-3;
          width: 50px;
          min-width: 50px;
          text-align: center;
        }

        .str-h3 {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 100%;
          height: 40px;
          line-height: 40px;
          font-size: 18px;
          font-weight: 400;
          color: $color-3;
          padding-left: 15px;
          padding-right: 15px;
          border-width: 1px;
          border-left-style: solid;
          border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-22, rgba(0, 0, 0, 0)) 1 100%;
        }
      }

      .colums-2 {
        display: flex;
        flex-direction: row;
        margin: auto 0;

        .str-bt {
          cursor: pointer;
          height: 40px;
          line-height: 40px;
          margin: 0;
          width: 125px;
          color: $color-3;
          background: $color-4;
          text-decoration: none;
          text-align: center;
          border: none;
          border-radius: 5px;
          outline: none;
          font-size: 16px;
          font-weight: 400;

          &:hover,
          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .box-marker {
    .box-searth {
      .nomer-list {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
      }

      .search-input {
        line-height: 30px;
        height: 30px;
        width: 200px;
      }
    }

    .box-list {
      margin-top: 15px;

      .str {
        height: 55px;

        .colums-1 {
          max-width: 60%;

          .str-p {
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            font-size: 14px;
          }

          .str-h3 {
            font-size: 16px;
          }
        }

        .colums-2 {
          .str-bt {
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .box-marker {
    padding-top: 15px;

    .box-searth {
      flex-direction: column;
      height: auto;

      .nomer-list {
        width: 100%;
        margin: 5px 0 0 5px ;
      }

      .search-input {
        width: 80%;
      }
    }

    .box-list{
      .str{
        .colums-1{
          .str-p{
            width: 35px;
            min-width: 35px;
            max-width: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {
}