@import "../../../../Variables.scss";

@keyframes animation-money {
  0% {
    background: url("../../../../bases/minecraft-item/itemWEBP/Deepslate_Diamond_Ore.webp");
    background-size: cover;
  }
  25% {
    background: url("../../../../bases/minecraft-item/itemWEBP/Deepslate_Emerald_Ore.webp");
    background-size: cover;
  }
  50% {
    background: url("../../../../bases/minecraft-item/itemWEBP/Deepslate_Gold_Ore.webp");
    background-size: cover;
  }
  75% {
    background: url("../../../../bases/minecraft-item/itemWEBP/Deepslate_Redstone_Ore.webp");
    background-size: cover;
  }
  100% {
    background: url("../../../../bases/minecraft-item/itemWEBP/Deepslate_Diamond_Ore.webp");
    background-size: cover;
  }
}

.animation-bg-money {
  animation: 10s infinite animation-money;
}
