@import "../../Variables.scss";

$header: 64px;
$line: 36px;

.header {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  min-height: $header;
  max-height: $header;
  height: $header;
  width: 100%;
  max-width: 1920px;
  min-width: auto;
  margin: 0 auto;

  .mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    .leftBlock {
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
      margin: 0 32px;

      .logoGeneral {
        text-decoration: none;

        .colored-1,
        .colored-2,
        .noColored {
          font-size: 18px;
          font-weight: 400;
          font-family: $fontCustom1;
          height: $line;
          line-height: $line;
        }

        .colored-1 {
          color: $site-color-9;
        }

        .colored-2 {
          color: $site-color-10;
        }

        .noColored {
          color: $site-color-2;
        }

        .logo{
          height: 36px;
        }
      }
    }

    .blockNumbered {
      flex: 1;
    }

    .centerBlock {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      height: auto;

      .dropOpen {
        display: flex;
        flex-direction: row;
        width: $line;
        height: $line;
        margin: 0 16px;
        transition: all 0.35s ease;
        cursor: pointer;
        position: relative;

        &:hover {
          background: $site-color-1;
          border: none;
          border-radius: 6px;

          .ico {
            color: $site-color-9;
          }
        }

        .ico {
          width: $line;
          height: $line;
          line-height: $line;
          color: $site-color-2;
          font-size: 28px;
          text-align: center;
          transition: all 0.35s ease;
        }
      }
    }

    .rightBlock {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
      height: auto;
      margin: 0 16px;

      .swipePage {
        padding: 0 12px;
        width: 96px;
        min-width: auto;
        max-width: none;
      }

      .wrapperBoxCab {
        display: flex;
        flex-direction: row;
        position: relative;

        .cabOpen {
          display: flex;
          flex-direction: row;
          width: auto;
          height: auto;
          transition: all 0.35s ease;
          cursor: pointer;

          &:hover {
            background: $site-color-1;
            border: none;
            border-radius: 6px;

            .nameUser {
              color: $site-color-9;
            }
          }

          .iconPlayer {
            width: $line;
            height: $line;
            border: none;
            border-radius: 4px;
          }

          .nameUser {
            width: auto;
            font-size: 14px;
            font-family: $fontCustom2;
            color: $site-color-2;
            padding: 0 8px 0 8px;
            height: $line;
            line-height: $line;
            cursor: pointer;
            transition: all 0.35s ease;
          }
        }
      }
    }

    .swipePage {
      text-decoration: none;
      font-size: 14px;
      font-family: $fontCustom2;
      font-weight: 400 !important;
      height: $line;
      line-height: $line;
      color: $site-color-2;
      transition: all 0.35s ease;
      padding: 0 16px 0 16px;
      width: 128px;
      min-width: 128px;
      max-width: 128px;
      text-align: center;

      &:hover {
        background: $site-color-1;
        border: none;
        border-radius: 6px;
        color: $site-color-9;
      }
    }

    .dropMenuMain,
    .dropMenuCab {
      position: absolute;
      display: flex;
      flex-direction: column;
      background: $site-color-4;
      padding: 12px;
      height: auto;
      width: auto;
      min-width: 160px;
      max-width: 260px;
      border: 1px solid $site-color-5;
      border-radius: 8px;

      &:before {
        content: '';
        top: -9px;
        width: 16px;
        height: 16px;
        position: absolute;
        background: $site-color-4;
        border: none;
        border-top: 1px solid $site-color-5;
        border-right: 1px solid $site-color-5;
      }
    }

    .dropMenuCab {
      right: 0;
      transform: translate(0);
      top: $line + 12px;

      &:before {
        left: 80%;
        transform: translateX(-50%) rotate(-45deg);
      }
    }

    .dropMenuMain {
      left: 50%;
      transform: translate(-50%);
      top: $line + 12px;

      &:before {
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
      }
    }

    .boxList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: auto;
      height: auto;

      .prevDropUser {
        display: none;
      }

      .list {
        width: 200px;
        height: 32px;
        line-height: 32px;
        text-decoration: none;
        font-size: 14px;
        font-family: $fontCustom2;
        color: $site-color-2;
        transition: all 0.35s ease;
        padding: 0 12px;
        margin: 0 0 4px 0;
        cursor: pointer;
        border: none;
        border-radius: 8px;

        &:visited {
          color: $site-color-2;
        }

        &:hover {
          color: $site-color-9;
          background: $site-color-1;
        }
      }

      .phoneLink {
        display: none;
      }

      .last {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .header {
    .mainBox {
      .dropMenuCab {
        right: -4px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    .mainBox {
      justify-content: center;

      .blockNumbered:nth-child(2) {
        order: -1;
      }

      .leftBlock {
        justify-content: center;
        margin: 0;
      }

      .centerBlock {
        justify-content: flex-start;

        .swipePage {
          display: none;
        }
      }

      .rightBlock {
        margin: 0;
        padding-right: 8px;

        .swipePage {
          width: auto;
          min-width: auto;
          max-width: none;
          padding: 0 8px;
        }

        .wrapperBoxCab {
          .cabOpen {
            margin-right: 10px;

            .nameUser {
              display: none;
            }
          }
        }
      }

      .dropMenuCab {
        right: 4px;

        &:before {
          left: 90%;
        }
      }

      .dropMenuMain {
        left: -4px;
        transform: translate(0);

        &:before {
          left: 10%;
          transform: translateX(-50%) rotate(-45deg);
        }
      }

      .boxList {
        .phoneLink {
          display: flex;
        }

        .prevDropUser {
          display: flex;
          flex-direction: row;
          height: 32px;
          line-height: 32px;
          padding: 0 12px;
          margin: 0 0 4px 0;

          .miniIco {
            height: 32px;
            width: 32px;
            border: none;
            border-radius: 4px;
          }

          .miniName {
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            color: $site-color-9;
            font-weight: 400;
            font-family: $fontCustom2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .mainBox {
      .dropMenuMain,
      .dropMenuCab {
        position: fixed;
        width: auto;
        max-width: none;
        min-width: auto;
        left: 0;
        right: 0;
        margin: 0 12px;
        top: 70px;

        &:before {
          display: none;
        }
      }

      .boxList {
        .list {
          width: 100%;
        }

        .last {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .header {
    .mainBox {
      .centerBlock {
        .dropOpen {
          margin: 0 10px;
        }
      }

      .rightBlock {
        .wrapperBoxCab {
          margin-right: 8px;
        }
      }

      .dropMenuCab,
      .dropMenuMain {
        margin: 0 6px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .header {
    .mainBox {
      .leftBlock {
        .logoGeneral {
          .noColored {
            display: none;
          }
        }
      }
    }
  }
}
