@import "../../Variables.scss";

@keyframes appearanceHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes disappearanceHeader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0 !important;
  }
}

.header {
  z-index: 1000;
  min-height: 75px;
  max-height: 75px;
  height: 75px;
  width: 100%;

  .menu {
    input[type="checkbox"] {
      display: none;
    }

    .togglePhone {
      display: none;
    }

    .content-menu {
      height: auto;
      width: 100%;
      max-width: 1912px;
      margin: 0 auto;

      .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.15s ease;
        width: 100%;
        height: auto;

        .links-li {
          position: relative;
          display: flex;
          text-align: center;
          list-style: none;
          height: 40px;
          line-height: 40px;
          width: 100%;
          min-width: 225px;
          max-width: 225px;
          margin-left: 17px;
          margin-right: 17px;
          margin-top: 25px;
          margin-bottom: 25px;
          transition: all 0.35s ease;

          &:hover {
            border-radius: 10px;
            background: $color-14;
          }

          .title-logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: $color-3;
            padding-left: 7px;
            padding-right: 7px;
            font-size: 20px !important;

            .colored-title-span-1 {
              color: $color-4;
              overflow: hidden;
              position: relative;
            }

            .colored-title-span-2 {
              color: $color-1;
              overflow: hidden;
              position: relative;
            }
          }

          .replace,
          a,
          label {
            color: $color-3;
            font-size: 24px;
            font-weight: 400;
            height: 100%;
            width: 100%;
            min-width: 100px;
            text-decoration: none;
            cursor: pointer;
          }

          label {
            display: none;
          }

          .custon-header {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding: 5px;

            .ico-player {
              display: flex;
              width: 30px;
              height: 30px;
            }

            .ico-name-player {
              color: $color-4;
              width: 100%;
              line-height: 24px;
              height: 24px;
              margin: auto 1px auto 5px;
              font-size: 18px !important;
              overflow: hidden;
            }

          }

          .drop {
            z-index: 2000;
            position: absolute;
            background: $color-21;
            top: 0;
            opacity: 0;
            transition: all 0.2s ease-out;
            visibility: hidden;
            border-radius: 10px;
            width: 100%;
            height: auto;
            padding: 5px;

            .drop-li {
              position: relative;
              text-align: start;
              padding: 3px;
              margin: 3px;
              transition: all 0.35s ease;

              &:hover {
                border-radius: 10px;
                background: $color-14;
              }

              a {
                width: auto;
                font-size: 20px;
                line-height: 24px;
                height: 24px;
                margin: 10px;
              }
            }
          }
        }

        .links-li-ho-hover:hover {
          background: transparent !important;
        }

        .custon-header:hover > .drop,
        .links-li:hover > .drop {
          top: 50px;
          opacity: 1;
          visibility: visible;
          transition: all 0.35s ease;
        }

        .li-custom-right {
          right: 0;
          margin-right: auto;
        }

        .li-custom-left {
          left: 0;
          margin-left: auto;
          width: auto !important;
          min-width: 225px !important;
          max-width: 265px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .header {
    width: 100%;

    .menu {

      .content-menu {
        width: 100%;
        max-width: 1600px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    width: 100%;

    .menu {

      .content-menu {
        width: 100%;
        max-width: 1400px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header {
    width: 100%;

    .menu {

      .content-menu {
        width: 100%;
        max-width: 1280px;

        .links {

          .links-li {
            width: 100%;
            min-width: auto;
            max-width: 210px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 25px;
            margin-bottom: 25px;

            .title-logo {
              padding-left: 5px;
              padding-right: 5px;
              font-size: 20px !important;
            }

            a,
            label {
              font-size: 20px;
            }

            .drop {
              padding: 4px;

              .drop-li {
                padding: 1.5px;

                a {
                  font-size: 18px;
                  line-height: 22px;
                  height: 22px;
                  margin: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .menu {
      .content-menu {
        .links {
          .links-li {
            margin-left: 10px;
            margin-right: 10px;
            min-width: 160px;
            max-width: 190px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    height: 50px;
    min-height: auto;
    max-height: none;
    width: 100%;

    .menu {
      display: flex;
      width: auto;
      height: 50px;
      position: relative;

      .togglePhone {
        z-index: 15000000;
        display: flex !important;
        text-align: center;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 50px;
        flex-direction: column;
        color: #f4f4f4;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          color: $color-8;
        }


        &::after {
          margin: auto 0;
          content: "\2630";
        }
      }

      .activeBt {
        &::after {
          content: "\1F5D9";
        }
      }

      .content-menu {
        // animation: disappearanceHeader 0.85s both ease;
        opacity: 0;
        display: none;
        transition: all 0.25s ease;

        .links {
          flex-direction: column;
          justify-content: start;
          margin-top: 150px;
        }
      }

      .linksActive {
        width: 100%;
        height: 100vh;
        background: $color-15;
        display: flex;
        animation: appearanceHeader 0.85s both ease;
        opacity: 1;
      }
    }
  }
}


@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}