@import "src/Variables";

.boxPrizesWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .prizesTitleH4 {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: $site-color-2;
    font-size: 18px;
    font-weight: 400;
    font-family: $fontCustom2;
    margin: 8px auto;
  }

  .warn_title {
    font-size: 18px;
    font-weight: 400;
    font-family: $fontCustom2;
    color: $site-color-2;
    text-align: center;
    padding: 16px;
    margin-top: 18%;
    line-height: 1.35;

    a {
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      height: inherit;
      color: $color-1;
      width: auto;
      margin: 0 0 0 4px;
      transition: all 0.55s ease;
      text-decoration: none;

      &:hover {
        color: $color-12;
      }
    }
  }

  .allPrizesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 4px !important;
    }

    .prize_wrapper_container {
      width: 100%;
      height: 130px;
      display: flex;
      flex-direction: row;
      border: 1px solid $site-color-5;
      border-radius: 7px;
      margin-top: 16px;
      background: $site-color-12;

      .img_block {
        display: flex;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        margin: 15px;

        .animationBackground {
          display: flex;
          width: 100px;
          height: 100px;
          position: relative;

          .fade {
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            opacity: 0;
            width: 120px;
            height: 120px;
            transition: opacity 1s ease-in-out;
          }

          .active {
            opacity: 1;
          }
        }
      }

      .prizesDescription {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 4px;
        border: none;
        border-left: 1px solid $site-color-5;
        margin-right: 8px;

        .textInformationH5 {
          font-family: $fontCustom2;
          font-weight: 400;
          font-size: 14px;
          color: $color-3;
          text-align: center;
          height: auto;
          line-height: 25px;
          width: 100%;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 8px;
        }

        .btn_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  .box_warn {
    margin: 8px 0 0 0;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .boxPrizesWrapper {
    .allPrizesContainer {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .boxPrizesWrapper {
    .warn_title {
      font-size: 16px;
    }

    .allPrizesContainer {
      .prize_wrapper_container {
        flex-direction: column;
        height: auto;
        margin-top: 8px;
        padding: 8px 0;

        .img_block {
          margin: 0 auto;
        }

        .prizesDescription {
          flex-direction: column;
          border: none;

          .textInformationH5 {
            font-size: 12px;
            width: 100%;
            margin: 0 auto 8px auto;
            padding: 5px;
            border-width: 1px;
            border-bottom-style: solid;
            border-top-style: solid;
            border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $site-color-5, $site-color-5, $site-color-5, rgba(0, 0, 0, 0)) 1 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .boxPrizesWrapper {
    .warn_title {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 360px) {
}