@import "../../../Variables.scss";

@keyframes animation-item {
  0% {
    background: url("../../../bases/еnchanted-item/Netherite_Pickaxe.gif");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: url("../../../bases/еnchanted-item/Netherite_Axe.gif");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: url("../../../bases/еnchanted-item/Netherite_Shovel.gif");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: url("../../../bases/еnchanted-item/Netherite_Hoe.gif");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url("../../../bases/еnchanted-item/Netherite_Pickaxe.gif");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes animation-money {
  0% {
    background: url("../../../bases/minecraft-item/itemsPNG/58.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: url("../../../bases/minecraft-item/itemsPNG/50.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: url("../../../bases/minecraft-item/itemsPNG/52.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: url("../../../bases/minecraft-item/itemsPNG/54.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url("../../../bases/minecraft-item/itemsPNG/58.png");
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.box-prizes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .prizes-h4 {
    width: auto;
    height: 35px;
    line-height: 35px;
    color: $color-3;
    font-size: 24px;
    font-weight: 400;
    margin: 30px auto;
  }

  .all-prizes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 15px;

    .one-prizes {
      width: 100%;
      height: 130px;
      display: flex;
      flex-direction: row;
      padding: 5px;
      border: 0.5px solid $color-22;
      border-radius: 7px;
      margin-top: 15px;

      .img-block {
        display: flex;
        width: 100px;
        height: 100px;
        margin: auto 15px auto 15px;

        .animation-bg-item {
          display: flex;
          width: 100%;
          height: 100%;
          animation: 10s infinite animation-item;
        }

        .animation-bg-money {
          display: flex;
          width: 100%;
          height: 100%;
          animation: 10s infinite animation-money;
        }
      }

      .prizes-all {
        display: flex;
        width: 90%;
        height: auto;
        padding: 15px;
        border-width: 1px;
        border-left-style: solid;
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-22, rgba(0, 0, 0, 0)) 1 100%;
      }

      .text-h5 {
        font-weight: 400;
        font-size: 16px;
        color: $color-3;
        text-align: center;
        height: auto;
        line-height: 30px;
        width: auto;
        margin-right: 25px;
      }

      .pick {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        max-width: 125px;
        min-width: 125px;
        height: 35px;
        line-height: 35px;
        margin: auto 0;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: $color-3;
        background: $color-4;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
