@import "src/Variables";

.main_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  min-height: auto;
  max-height: 87vh;
  margin: 0 auto;

  .wrapper {
    display: flex;
    width: 100%;
    height: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}
