@import "../../../../../Variables";

.tag {
  border-radius: 4px;
  color: darken($site-color-2, 25%);
  background: lighten($site-color-12, 30%);
  padding: 0 8px;
  margin: 2px 4px 2px 0;

  .view_name {
    font-size: 12px;
    font-family: $fontCustom2;
  }

  .actions {
    font-size: 13px;
    outline: none;
    background: transparent;
    color: darken($site-color-2, 25%);
    transition: all 0.35s ease;
    cursor: pointer;
    margin: 3px 0 3px 6px;
    padding: 0;
    border: none;
    text-align: center;

    &:hover {
      outline: none;
      color: $site-color-8;
    }
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .tag {
    padding: 2px 4px;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
