@import "../../../../Variables";

.profile-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ds-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;

    .ds-img {
      display: flex;
      width: 75px;
      height: 75px;
    }

    .h5-ds {
      display: flex;
      color: $color-3;
      height: 50px;
      line-height: 50px;
      font-weight: 400;
      font-size: 22px;
      margin-left: 15px;
    }
  }

  .prof-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 25px;

    .prof-cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 16px;
      width: 480px;
      height: 225px;
      background: $color-14;
      margin: 10px auto 10px auto;

      .label-cout {
        width: 333px;
        height: 64px;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        line-height: 64px;
        color: $color-3;
        background: $color-15;
        border-radius: 12px;
        border: none;
        margin: 0 auto;
      }
    }

    .prof-cont-custom {
      display: flex;
      flex-direction: column;
      width: 650px;
      height: auto;
      max-height: 280px;
      background: $color-14;
      margin: 0 auto;
      background: $color-14;
      border-radius: 16px;

      .ip-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .label-cout-custom {
          width: 480px;
          height: 48px;
          font-weight: 400;
          font-size: 22px;
          text-align: center;
          line-height: 48px;
          color: $color-3;
          background: $color-15;
          border-radius: 12px;
          border: none;
          margin: 5px auto;

          .span-ping {
            margin-left: 7px;
            color: $color-8;
          }
        }
      }
    }

    .h5-cont {
      width: 333px;
      height: 64px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      line-height: 64px;
      color: $color-3;
      margin: 0 auto;
    }

  }
}

@media screen and (max-width: 1600px) {
  .profile-block {
    .prof-block {
      .prof-cont {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .profile-block {
    .prof-block {
      padding: 5px;

      .prof-cont {
        width: 46%;
        height: 170px;

        .h5-cont {
          width: 100%;
          height: 48px;
          line-height: 48px;
        }

        .label-cout {
          width: 88%;
          font-size: 20px;
        }
      }

      .prof-cont-custom {
        .ip-list {
          .label-cout-custom {
            width: 88%;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .profile-block {
    .prof-block {
      padding: 10px;
      height: auto;
      flex-direction: column;

      .prof-cont {
        width: 96%;
        height: 140px;
        max-height: 28%;
        margin: 5px auto;

        .label-cout {
          font-size: 18px;
        }
      }

      .prof-cont-custom {
        width: 96%;
        margin: 5px auto;

        .ip-list {
          padding-bottom: 8px;

          .label-cout-custom {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .profile-block {
    .prof-block {
      .prof-cont {
        .h5-cont {
          height: 45px;
          line-height: 45px;
          margin-bottom: 10px;
        }

        .label-cout {
          height: 45px;
          line-height: 45px;
        }
      }

      .prof-cont-custom {
        .ip-list {
          .label-cout-custom {
            height: 45px;
            line-height: 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .profile-block {
    .ds-link {
      padding-top: 25px;
      height: 100px;
    }

    .prof-block {
      .prof-cont {
        width: 100%;
        height: 135px;

        .h5-cont {
          height: 35px;
          line-height: 35px;
          margin-bottom: 7px;
        }

        .label-cout {
          height: 35px;
          line-height: 35px;
        }
      }

      .prof-cont-custom {
        width: 100%;
        margin: 5px 0;

        .ip-list {
          .label-cout-custom {
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
}