@import "../../../Variables.scss";

.mode-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 75px auto;
  .mode-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 128px;
    width: 400px;
    color: $color-3;
    border: 7px solid $color-1;
    border-radius: 35px;
    h3 {
      width: auto;
      height: auto;
      margin: 0 auto;
      font-weight: 400;
      font-size: 48px;
      text-align: center;
      color: $color-3;
    }
  }
  .circle {
    display: flex;
    border: 5px solid $color-3;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    margin: auto 75px;
  }
  .h4-mode {
    width: 400px;
    height: 81px;
    font-size: 22px;
    line-height: 27px;
    color: $color-3;
    font-weight: 400;
    margin: auto 0;
  }
}
