@import "../../../Variables.scss";

.profile-block {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 .ds-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  .ds-img {
   display: flex;
   width: 75px;
   height: 75px;
  }
  .h5-ds {
   display: flex;
   color: $color-3;
   height: 50px;
   line-height: 50px;
   font-weight: 400;
   font-size: 22px;
   margin-left: 15px;
  }
 }
 .prof-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 25px;
  .prof-cont {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 16px;
   width: 480px;
   height: 225px;
   background: $color-14;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   .h5-cont {
    width: 333px;
    height: 64px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    color: $color-3;
    margin: 0 auto;
    margin-bottom: 25px;
   }
   .label-cout {
    position: relative;
    width: 333px;
    height: 64px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    line-height: 64px;
    color: $color-3;
    background: $color-15;
    border-radius: 12px;
    border: none;
    margin: 0 auto;
    .copy-button {
     position: absolute;
     left: 0;
     top: 0;
     width: 333px !important;
     height: 64px;
     text-align: center;
     line-height: 26px;
     width: 50px;
     cursor: pointer;
     color: $color-3;/*  */
     border: none;
     border-radius: 12px;
     background: transparent;
     &:focus {
      outline: none;
     }
     &:active {
      outline: none;
     }
    }
    .scanner {
     height: 30px;
     width: 15px;
     position: absolute;
     top: 17px;

    }    
   }
   .profile-application-not-submitted {
    color: $color-16 !important;
   }
   .profile-application-under-consideration {
    color: $color-17 !important;
   }
   .profile-application-not-accepted {
    color: $color-18 !important;
   }
   .profile-application-on-whitelist {
    color: $color-19 !important;
   }
   .profile-application-dropped-off-whitelist {
    color: $color-20 !important;
   }
   .profile-application-banned-heck {
    color: $color-18 !important;
   }
  }
 }
}
