@import "../../../Variables";

@keyframes ErrorsViewBox {
  0% {
    opacity: 0;
    height: 0;
    width: auto;
  }
  100% {
    opacity: 1;
    width: auto;
    height: auto;
  }
}

.errorBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.35s ease;
  animation: ErrorsViewBox 0.85s both ease;

  .spanIcon {
    width: auto;
    height: auto;
    margin: auto 0;
  }

  .errorInformation {
    padding-left: 10px;
    height: auto;
    line-height: 24px;
    color: $color-9;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .errorBlock {
    height: auto;
    line-height: 20px;
    min-height: 40px;
    max-height: 150px;

    .errorInformation {
      text-align: center;
      line-height: 1.5;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 360px) {
  .errorBlock {
    height: auto;
    max-height: 160px;
  }
}