@import "src/Variables";

@keyframes shine {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 300%;
  }
}

.main {
  display: flex;
  flex-direction: column;

  .row_container_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../bases/assets/webp/Main-background.webp) no-repeat center;
    background-size: cover;

    .main_content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .logo {
        max-width: 1500px;
        min-width: 750px;
        height: auto;
        margin: 0 auto;
      }

      .main_text {
        width: auto;
        font-weight: 400;
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        margin: 0 auto;
        color: $site-color-2;
        font-family: $fontCustom2;
      }

      .button_application {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 55px;
        height: auto;

        .btn {
          width: 300px;
          height: 75px;
          line-height: 75px;
          font-size: 30px;
          text-decoration: none;
          background-color: $site-color-9;
          border-radius: 22px;
          border: none;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          font-family: $fontCustom3;

          &:before {
            content: " ";
            display: block;
            width: 250px;
            height: 40px;
            background: $color-6;
            position: absolute;
            top: -10px;
            left: -200px;
            transform: rotate(-45deg);
            transition: all 0.85s ease-in-out;
            animation: shine 3s infinite ease;
          }

          &:after {
            content: " ";
            display: block;
            width: 250px;
            height: 30px;
            background: $site-color-9;
            position: absolute;
            top: -10px;
            left: -120px;
            transform: rotate(-45deg);
            transition: all 0.85s ease-in-out;
            animation: shine 3s infinite ease;
          }
        }
      }
    }
  }

  .row_container_two {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: $site-color-3;
    padding-top: 125px;
    padding-bottom: 100px;

    .content_information {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 600px;
      width: 100%;
      color: $site-color-2;

      .information_text_div_style {
        width: 50%;
        max-width: 550px;
        height: 100%;
        padding: 50px;

        .h2_information {
          font-weight: 400;
          font-size: 48px;
          height: 60px;
          line-height: 60px;
          margin-top: 35px;
          margin-bottom: 35px;
          font-family: $fontCustom3;
        }

        .left_h2 {
          text-align: left;
        }

        .right_h2 {
          text-align: right;
        }

        .left_h4 {
          text-align: left;
        }

        .right_h4 {
          text-align: right;
        }

        .h4_information {
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .information_wrapper_image {
        width: 50%;
        max-width: 550px;
        height: 100%;
        padding: 50px;

        .information_image_style {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .row_container_three {
    width: 100%;
    height: auto;
    background: url(../../../bases/assets/webp/background-block.webp);

    .title_block {
      .title_h3 {
        width: auto;
        height: 80px;
        line-height: 80px;
        font-weight: 400;
        font-size: 64px;
        text-align: center;
        color: $site-color-2;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: $fontCustom3;
      }

      .title_h4 {
        height: auto;
        max-width: 550px;
        width: auto;
        text-align: center;
        color: $site-color-2;
        line-height: 20px;
        font-weight: 400;
        margin: auto;
        font-size: 18px;
      }
    }

    .block_worlds {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 85px;
      min-height: 550px;
      max-height: 900px;
      height: auto;
      transition: all 0.5s ease;
      position: relative;

      .hove_me {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 48%;
        top: 75px;
      }
    }
  }

  .line_no_content_top {
    height: 200px;
    width: 100%;
    background: $site-color-3;
    background: linear-gradient(180deg, $site-color-3 0%, transparent 100%);
  }

  .line_no_content_bottom {
    height: 200px;
    width: 100%;
    background: $site-color-3;
    background: linear-gradient(0deg, $site-color-3 0%, transparent 100%);
  }
}

.worlds {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 500px;
  min-width: 350px;

  .circle {
    display: flex;
    border: 5px solid $site-color-2;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    margin: 0 auto;
  }

  .name {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 400;
    color: $site-color-2;
    text-align: center;
    font-family: $fontCustom2;
  }

  .hr_90_deg {
    margin: 15px auto;
    width: auto;
    height: 90px;
    border-left: 2px solid $site-color-2;
  }

  .image_text {
    display: flex;
    flex-direction: column;
    min-width: 325px;
    max-height: 550px;
    min-height: 350px;
    height: auto;
    margin: 0 auto;

    img {
      width: 325px;
      height: 325px;
      z-index: 2;
    }
  }

  .information {
    width: auto;
    max-width: 300px;
    min-width: 250px;
    margin-top: 50px;
    color: $site-color-2;
    height: auto;
    min-height: 100px;
    max-height: 150px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: all 0.65s ease;
    z-index: 1;
  }
}

.image_text:hover .information {
  opacity: 1;
  top: 0;
}

@media screen and (max-width: 1600px) {
  .main {
    .row_container_three {
      .block_worlds {
        .hove_me {
          width: 400px;
          height: 400px;
          //left: 750px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .main {
    .row_container_three {
      .block_worlds {
        .hove_me {
          width: 350px;
          height: 350px;
          //left: 690px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .main {
    .row_container_two {
      padding-top: 85px;
      padding-bottom: 80px;

      .content_information {
        height: auto;
        margin-bottom: 30px;

        .information_text_div_style {
          max-width: 500px;
          padding: 40px;

          .h2_information {
            font-size: 44px;
            height: 54px;
            line-height: 54px;
          }
        }

        .information_wrapper_image {
          max-width: 500px;
          padding: 40px;
        }
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          font-size: 54px;
        }

        .title_h4 {
          font-size: 16px;
        }
      }

      .block_worlds {
        .hove_me {
          width: 350px;
          height: 350px;
          //left: 670px;
        }
      }
    }
  }

  .worlds {
    width: auto;
    max-width: 400px;
    min-width: 250px;

    .circle {
      width: 24px;
      height: 24px;
      border: 4px solid $site-color-2;
    }

    .name {
      font-size: 26px;
    }

    .hr_90_deg {
      height: 78px;
    }

    .image_text {
      min-width: 300px;
      max-width: 350px;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .information {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .row_container_one {
      .main_content {
        .logo {
          min-width: 600px;
        }

        .main_text {
          font-size: 20px;
        }
      }
    }

    .row_container_two {
      .content_information {
        padding: 10px;

        .information_text_div_style {
          padding: 25px;
        }

        .information_wrapper_image {
          padding: 25px;
        }
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          font-size: 54px;
        }
      }

      .block_worlds {
        .hove_me {
          width: 325px;
          height: 325px;
        }
      }
    }

    .line_no_content_top {
      height: 160px;
    }

    .line_no_content_bottom {
      height: 160px;
    }
  }
}

@media screen and (max-width: 960px) {
  .main {
    .row_container_three {
      .block_worlds {
        flex-wrap: wrap;

        .hove_me {
          width: 300px;
          height: 300px;
          left: 35%;
        }
      }
    }

    .row_container_two {
      .content_information {
        .information_text_div_style {
          .h2_information {
            font-size: 38px;
          }

          .h4_information {
            font-size: 19px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .row_container_one {
      .main_content {
        .main_text {
          font-size: 18px;
        }

        .button_application {
          .btn {
            width: 280px;
            height: 70px;
            line-height: 70px;
            font-size: 28px;
          }
        }
      }
    }

    .row_container_two {
      .content_information {
        .information_text_div_style {
          padding: 10px;

          .h2_information {
            font-size: 34px;
            margin-top: 20px;
            margin-bottom: 20px;
          }

          .h4_information {
            font-size: 18px;
          }
        }

        .information_wrapper_image {
          padding: 10px;
        }
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          font-size: 46px;
        }
      }

      .block_worlds {
        flex-wrap: wrap;
        max-height: none;

        .hove_me {
          width: 325px;
          height: 325px;
        }
      }
    }
  }

  .worlds {
    .circle {
      width: 22px;
      height: 22px;
    }

    .name {
      font-size: 24px;
    }

    .hr_90_deg {
      height: 70px;
    }

    .image_text {
      min-width: 300px;

      img {
        width: 275px;
        height: 275px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main {
    .row_container_one {
      .main_content {
        .logo {
          margin-top: 64px;
          min-width: 450px;
        }

        .main_text {
          font-size: 15px;
          height: auto;
          padding: 2.5px 15px;
          text-align: center;
        }

        .button_application {
          .btn {
            width: 250px;
            height: 55px;
            line-height: 55px;
            font-size: 24px;
          }
        }
      }
    }

    .row_container_two {
      .content_information {
        height: auto;

        .information_text_div_style {
          padding: 8px;

          .h2_information {
            font-size: 24px;
            margin-top: 15px;
            margin-bottom: 15px;
          }

          .h4_information {
            font-size: 14px;
          }
        }
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          font-size: 42px;
        }

        .title_h4 {
          font-size: 15px;
        }
      }

      .block_worlds {
        .hove_me {
          display: none;
        }
      }
    }

    .line_no_content_top {
      height: 130px;
    }

    .line_no_content_bottom {
      height: 130px;
    }
  }

  .worlds {
    .circle {
      width: 20px;
      height: 20px;
      border: 3px solid $site-color-2;
    }

    .name {
      font-size: 22px;
    }

    .hr_90_deg {
      height: 65px;
    }

    .image_text {
      width: 100%;
      max-width: 300px;
      margin-bottom: 15px;

      img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }

      .information {
        font-size: 14px;
        opacity: 1;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    .row_container_one {
      .main_content {
        .logo {
          min-width: 80%;
        }

        .main_text {
          font-size: 14px;
          line-height: 24px;
        }

        .button_application {
          margin-top: 45px;

          .btn {
            width: 215px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
          }
        }
      }
    }

    .row_container_two {
      padding-bottom: 50px;
      padding-top: 50px;

      .content_information {
        flex-direction: column;

        .information_text_div_style {
          width: 100%;

          .h2_information {
            height: 45px;
            line-height: 45px;
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: 28px;
          }

          .h4_information {
            line-height: 20px;
          }

          .right_h2 {
            text-align: left;
          }

          .right_h4 {
            text-align: left;
          }
        }

        .information_wrapper_image {
          width: 100%;
          padding: 15px;
        }
      }

      .reverse {
        flex-direction: column-reverse;
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          margin-bottom: 5px;
          font-size: 30px;
          line-height: 50px;
          height: 50px;
        }

        .title_h4 {
          font-size: 14px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .block_worlds {
        padding-top: 60px;
      }
    }
  }

  .worlds {
    width: 100%;
    min-width: auto;
    max-width: none;

    .hr_90_deg {
      height: 45px;
    }

    .name {
      font-size: 20px;
    }

    .image_text {
      margin: 5px 5px 15px 5px;
      max-width: none;
      width: auto;

      .information {
        margin-top: 16px;
        max-width: none;
        min-width: auto;
        width: auto;
        height: auto;
        min-height: auto;
        max-height: 200px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main {
    .row_container_one {
      .main_content {
        .main_text {
          font-size: 12px;
          line-height: 12px;
        }

        .button_application {
          margin-top: 25px;

          .btn {
            width: 180px;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
          }
        }
      }
    }

    .row_container_two {
      .content_information {
        .information_text_div_style {
          .h2_information {
            height: 38px;
            line-height: 38px;
            font-size: 24px;
          }

          .h4_information {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }

    .row_container_three {
      .title_block {
        .title_h3 {
          margin-bottom: 15px;
          font-size: 24px;
          line-height: 30px;
          height: 30px;
        }

        .title_h4 {
          font-size: 12px;
        }
      }

      .block_worlds {
        padding-top: 30px;
      }
    }
  }
}
