@import "../../../../Variables";

.villager {
  display: flex;
  flex-direction: row;

  .villager_info_block {
    display: flex;
    flex-direction: column;
    width: 100%;

    .stroke {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      height: auto;

      .text {
        color: $site-color-2;
        font-size: 13px;
        font-weight: 400;
        font-family: $fontCustom2;
        height: 24px;
        line-height: 24px;
      }

      .green,
      .red {
        text-indent: 0;
        font-size: 12px;
        margin-left: 8px;
      }

      .green {
        color: $site-color-8;
      }

      .red {
        color: $site-color-11;
      }

      svg {
        margin: 2px;
        transition: all 0.3s ease;

        path {
          fill: $site-color-11;
        }
      }
    }

    .left {
      text-indent: 2ch;
    }
  }

  .image_wrapper {
    display: flex;
    width: 100%;
    max-width: 125px;
    height: auto;
    margin: 0 auto;

    .image {
      margin: 0 auto;
      width: auto;
      height: 250px;
    }
  }
}
