@import "./Variables.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(23, 55, 75);
}

div#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(32, 42, 48);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(23, 55, 75);
  transition: 2s all ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(34, 78, 105);
}

.main-wrapper-bg {
  width: 100%;
  height: auto;
  background: $color-7;
  background: url(./bases/assets/webp/Main-background.webp);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 2000px 20000px rgba(0, 0, 0, 0.25);
}

.class-z-index-10000-header {
  position: relative;
  z-index: 10000;
}

.class-z-index-8000-footer {
  position: relative;
  z-index: 8000;
}

.class-z-index-1000 {
  z-index: 1000;
  width: auto;
  max-height: none;
  min-height: 100vh;
  height: auto;
}

.particlesDiv {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
  .class-z-index-10000-header {
    position: fixed;
    width: 100%;
  }
  .class-z-index-1000 {
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}