@import "./Variables.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: $site-color-3;
}

div#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: $site-color-7;
}

*::-webkit-scrollbar-thumb {
  background-color: $site-color-6;
  transition: 2s all ease;
}

.main-wrapper-bg {
  width: 100%;
  height: auto;
  background: $site-color-3;
}

.class-z-index-10000-header {
  position: relative;
  z-index: 10000;
}

.sticky-header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $site-color-5;
  background: $site-color-3;
  transition: all 0.35s ease;
}

.class-z-index-8000-footer {
  position: relative;
  z-index: 8000;
}

.class-z-index-1000 {
  z-index: 1000;
  width: auto;
  max-height: none;
  min-height: 80vh;
  height: auto;
}

.particlesDiv {
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}