@import "./Variables.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(23, 55, 75);
}

div#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(32, 42, 48);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(23, 55, 75);
  transition: 2s all ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(34, 78, 105);
}

.main-wrapper-bg{
  width: 100%;
  height: 100%;
  background: url(./bases/assets/Main-background.webp);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-wrapper-bg-scrolling-color{
  background: $color-7 !important;
}

.lin-top {
  height: 200px;
  width: 100%;
  background: $color-2;
  background: linear-gradient(180deg, $color-2 0%, rgba(228, 0, 127, 0) 100%);
  background: -webkit-linear-gradient(
                  180deg,
                  $color-2 0%,
                  rgba(228, 0, 127, 0) 100%
  );
  background: -moz-linear-gradient(
                  180deg,
                  $color-2 0%,
                  rgba(228, 0, 127, 0) 100%
  );
}

.lin-bot {
  height: 200px;
  width: 100%;
  background: $color-2;
  background: linear-gradient(0deg, $color-2 0%, rgba(1, 22, 37, 0) 100%);
  background: -webkit-linear-gradient(
                  0deg,
                  $color-2 0%,
                  rgba(1, 22, 37, 0) 100%
  );
  background: -moz-linear-gradient(0deg, $color-2 0%, rgba(1, 22, 37, 0) 100%);
}

.preloader-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .preloader {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .lin-top {
    height: 160px;
  }

  .lin-bot {
    height: 160px;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .lin-top {
    height: 130px;
  }

  .lin-bot {
    height: 130px;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
