$color-1: #e4007f;
$color-2: #011625;
$color-3: #f4f4f4;
$color-4: #ffb400;
$color-5: rgba(0, 0, 0, 0.5);
$color-6: #ffd46e;
$color-7: #000c14;
$color-8: #00ff00;
$color-9: #ff0000;
$color-10: #e3e3e3;
$color-11: rgba(0, 6, 11, 0.9);
$color-12: rgb(228, 0, 127, 0.7);
$color-13: rgba(244, 244, 244, 0.50);
$color-14: #161d22;
$color-15: #0a1217;
//$color-16: none;
//$color-17: none;
//$color-18: none;
//$color-19: none;
$color-20: rgba(1, 22, 37, 0.3);
$color-21: rgba(1, 22, 37, 1); // дубликат оказывается $color-2
$color-22: rgba(255, 255, 255, 0.1);


$site-color-0: rgba(0, 0, 0, 0.90); // прозрачность
$site-color-1: rgba(24, 24, 27, 1); // для ховеров
$site-color-2: rgba(244, 244, 244, 1); // текст
$site-color-3: rgba(17, 17, 20, 1); // основный фон + хидер
$site-color-4: rgba(39, 39, 42, 1); // модалки
$site-color-5: rgba(255, 255, 255, 0.1); // бордеры в большей степени
$site-color-6: rgba(113, 113, 122, 1); // скрол
$site-color-7: rgba(39, 39, 42, 1); // фон скрола
$site-color-8: rgba(0, 255, 0, 1); // цвета
$site-color-9: rgba(255, 180, 0, 1); // цвета
$site-color-10: rgba(228, 0, 127, 1); // цвета
$site-color-11: rgba(255, 0, 0, 1); // цвета
$site-color-12: rgba(17, 17, 20, 0.5); // поле в модалке какой то
$site-color-13: rgb(0, 0, 0); // фон модалки
$site-color-14: rgba(28, 28, 31, 1); // $site-color-4 + $site-color-12

$fontCustom1: "Minecraft Title Cyrillic";
$fontCustom2: "Minecraft Rus";
$fontCustom3: "Minecraft Ten";
