$color-1: #e4007f;
$color-2: #011625;
$color-3: #f4f4f4;
$color-4: #ffb400;
//$color-5: none;
$color-6: #ffd46e;
$color-7: #000c14;
$color-8: #00ff00;
$color-9: #ff0000;
//$color-10: none;
$color-11: rgba(0, 6, 11, 0.9);
//$color-12: none;
//$color-13: none;
$color-14: #161d22;
$color-15: #0a1217;
//$color-16: none;
//$color-17: none;
//$color-18: none;
//$color-19: none;
//$color-20: none;
$color-21: rgba(1, 22, 37, 1);
$color-22: rgba(255, 255, 255, 0.1);

