@import "../../../../Variables";

.worlds {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 500px;
  min-width: 350px;

  .circle {
    display: flex;
    border: 5px solid $color-3;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    margin: 0 auto;
  }

  .worldsName {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 400;
    color: $color-3;
    text-align: center;
    font-family: $fontCustom2;
  }

  .hr90deg {
    margin: 15px auto;
    width: auto;
    height: 90px;
    border-left: 2px solid $color-3;
  }

  .worldsImagesText {
    display: flex;
    flex-direction: column;
    min-width: 325px;
    max-height: 550px;
    min-height: 350px;
    height: auto;
    margin: 0 auto;

    img {
      width: 325px;
      height: 325px;
      z-index: 2;
    }
  }

  .information {
    width: auto;
    max-width: 300px;
    min-width: 250px;
    margin-top: 50px;
    color: $color-3;
    height: auto;
    min-height: 100px;
    max-height: 150px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: all 0.65s ease;
    z-index: 1;
  }
}

.worldsImagesText:hover .information {
  opacity: 1;
  top: 0;
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
  .worlds {
    width: auto;
    max-width: 400px;
    min-width: 250px;

    .circle {
      width: 24px;
      height: 24px;
      border: 4px solid $color-3;
    }

    .worldsName {
      font-size: 26px;
    }

    .hr90deg {
      height: 78px;
    }

    .worldsImagesText {
      min-width: 300px;
      max-width: 350px;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .information {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .worlds {

    .circle {
      width: 22px;
      height: 22px;
    }

    .worldsName {
      font-size: 24px;
    }

    .hr90deg {
      height: 70px;
    }

    .worldsImagesText {
      min-width: 300px;

      img {
        width: 275px;
        height: 275px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .worlds {
    .circle {
      width: 20px;
      height: 20px;
      border: 3px solid $color-3;
    }

    .worldsName {
      font-size: 22px;
    }

    .hr90deg {
      height: 65px;
    }

    .worldsImagesText {
      width: 100%;
      max-width: 300px;
      margin-bottom: 15px;

      img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }

      .information {
        font-size: 14px;
        opacity: 1;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .worlds {
    width: 100%;
    min-width: auto;
    max-width: none;

    .hr90deg {
      height: 45px;
    }

    .worldsName {
      font-size: 20px;
    }

    .worldsImagesText {
      margin: 5px;
      margin-bottom: 15px;
      max-width: none;
      width: auto;

      .information {
        margin-top: 16px;
        max-width: none;
        min-width: auto;
        width: auto;
        height: auto;
        min-height: auto;
        max-height: 200px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
}

