$colors-1: #00e413;
$colors-2: #f9f9f9 ;

.fotter {
	width: 100%;
	height: 60px;
	display: flex;
	background-color: $colors-1;
	flex-direction: row;
	justify-content: flex-end;
	color: $colors-2;
	z-index: 1000;
}
