@import "../../../../Variables";

.playerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $color-13, rgba(0, 0, 0, 0)) 1 0%;

  .playerImage {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
  }

  .namePlayerH5 {
    font-weight: 400;
    font-size: 22px;
    color: $color-3;
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
    font-family: $fontCustom2;
  }
}

@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .playerWrapper {
    .playerImage {
      height: 75px;
      width: 75px;
    }

    .namePlayerH5 {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 960px) {
  .playerWrapper {
    padding: 0 0 8px 0;

    .playerImage {
      height: 100px;
      width: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
