@import "../../../Variables.scss";

.header {
	width: 100%;
	height: 50px;
	display: flex;
	background-color: $color-1;
	flex-direction: row;
	justify-content: flex-end;
	color: $color-2;
	z-index: 1000;
}
